<div
  id="connectedCont"
  class="grayPanel-box grayPanel-controlPanel-box grayPanelPadding-box"
  ng-if="zohoCrm.connected && !zohoCrm.showMapping"
>
  <div>
    <div class="authentication-container connected">
      <div>
        <span class="control-panel-section-title"
          >{{ 'zoho_crm_integration.connected.title' | translate }}</span
        >
        <span
          class="control-panel-section-subtitle"
          ng-show="!zohoCrm.isLoading"
        >
          {{ 'zoho_crm_integration.connected.subtitle_list_count' | translate:{
          'availableLists' : zohoCrm.integratedListsAvailable} }}
        </span>
      </div>
      <div class="button--frame">
        <button
          type="button"
          ng-click="zohoCrm.synchronizeAllLists();"
          ng-class="{'spin': zohoCrm.importingList && !zohoCrm.disableSync}"
          ng-disabled="zohoCrm.disableSync"
          class="button reload-icon"
        ></button>
      </div>
    </div>
    <div>
      <div class="dp-library">
        <div
          class="dp-wrap-message dp-wrap-warning ng-binding ng-scope margin-b-20"
        >
          <span class="dp-message-icon"></span>
          <div class="dp-content-message">
            <span id="messageBar" class="text--small">
              {{ 'zoho_crm_integration.connected.select_list_warning' |
              translate }}
            </span>
          </div>
        </div>
      </div>
      <hr class="full" style="width: calc(100% + 40px)" />
      <div
        style="min-height: 74px"
        class="loading--container components--center"
        dp-partial="angularjs/partials/shared/loading.html"
        ng-if="zohoCrm.importingListDropdown && !zohoCrm.isLoading"
      ></div>
      <div
        class="entity-selector-container flex-grid"
        ng-if="!zohoCrm.importingListDropdown"
      >
        <dropdown
          class="dropdown dropdown--big"
          placeholder="{{zohoCrm.entityPlaceholder}}"
          id="dd-entities"
          list="zohoCrm.zohoCrmEntitiesList"
          name="zohoCrm.selectedEntityId"
          ng-model="zohoCrm.selectedEntityId"
          ng-required="true"
          property="description"
          id-value="id"
          ng-disabled="!!zohoCrm.zohoCrmEntitiesList && zohoCrm.zohoCrmEntitiesList.length === 0 || zohoCrm.isLoadingZohoFields"
        ></dropdown>
        <dropdown
          class="dropdown dropdown--big"
          placeholder="{{zohoCrm.listPlaceholder}}"
          id="dd-lists"
          list="zohoCrm.userList"
          name="zohoCrm.selectedListId"
          ng-model="zohoCrm.selectedListId"
          ng-required="true"
          property="ListName"
          id-value="IdList"
          ng-disabled="!!zohoCrm.userList && zohoCrm.userList.length === 0 || zohoCrm.isLoadingZohoCrmFields"
        ></dropdown>
        <div>
          <button
            type="submit"
            ng-click="zohoCrm.showMappingSection();"
            class="button button--primary"
            ng-disabled="!zohoCrm.selectedEntityId || !zohoCrm.selectedListId"
            ng-class="{'button--spinner' : zohoCrm.isLoadingVtexFields}"
          >
            {{ 'zoho_crm_integration.mapping.next' | translate }}
            <span class="icon-editor-saving hide"></span>
          </button>
        </div>
      </div>
    </div>
    <div ng-if="zohoCrm.integratedLists.length">
      <p class="select-list-text">
        {{ 'zoho_crm_integration.connected.grid_title' | translate }}:
      </p>
      <span class="control-panel-section-subtitle"> </span>
      <table class="grid">
        <thead>
          <th>
            {{ 'zoho_crm_integration.connected.entity_name_grid' | translate }}
          </th>
          <th>
            {{ 'zoho_crm_integration.connected.list_name_grid' | translate }}
          </th>
          <th>
            {{ 'zoho_crm_integration.connected.last_synchronization_grid' |
            translate }}
          </th>
          <th>
            {{ 'zoho_crm_integration.connected.subscribers_count_grid' |
            translate }}
          </th>
          <th>
            {{ 'zoho_crm_integration.connected.actions_grid' | translate }}
          </th>
        </thead>
        <tbody>
          <tr
            ng-show="!zohoCrm.importingList && integratedList.SubscribersListStatus !== 5"
            ng-repeat="integratedList in zohoCrm.integratedLists"
          >
            <td ng-show="zohoCrm.integrationToDelete != $index">
              {{ integratedList.ThirdPartyName }}
            </td>
            <td
              class="list-name"
              ng-show="zohoCrm.integrationToDelete != $index"
            >
              <ellipsis-with-tooltip
                text="integratedList.Name"
                class="stand-alone"
              ></ellipsis-with-tooltip>
            </td>
            <td ng-show="zohoCrm.integrationToDelete != $index">
              {{ integratedList.LastUpdateFormatted ?
              integratedList.LastUpdateFormatted : '-' }}
            </td>
            <td ng-show="zohoCrm.integrationToDelete != $index">
              {{ integratedList.SubscribersCount }}
            </td>
            <td ng-show="zohoCrm.integrationToDelete != $index" class="actions">
              <span
                data-static-tooltip="{{ 'zoho_crm_integration.connected.edit_tooltip' | translate }}"
              >
                <a
                  target="_self"
                  class="icon-grid-edit"
                  ng-click="zohoCrm.editMap(integratedList.IdList, integratedList.ThirdPartyId)"
                ></a>
              </span>
              <span
                data-static-tooltip="{{ 'zoho_crm_integration.connected.delete_mode_grid.tooltip' | translate }}"
                class="to-left"
              >
                <a
                  ng-click="!zohoCrm.isLoadingVtexFields ? zohoCrm.integrationToDelete = $index : false"
                  ><img src="../../../images/grid-delete.svg"
                /></a>
              </span>
            </td>
            <td
              ng-show="zohoCrm.integrationToDelete == $index"
              class="delete-confirmation-text"
              colspan="3"
            >
              <span class="deleteConfirmationIcon"></span>
              <span
                >{{ 'zoho_crm_integration.connected.delete_mode_grid.message' |
                translate }}</span
              >
            </td>
            <td
              ng-show="zohoCrm.integrationToDelete == $index"
              class="delete-confirmation-actions"
              colspan="2"
            >
              <span>
                <a
                  ng-click="!zohoCrm.isLoadingVtexFields ? zohoCrm.integrationToDelete = null : false"
                >
                  {{ 'zoho_crm_integration.connected.delete_mode_grid.cancel' |
                  translate }}
                </a>
                |
                <a
                  class="delete-text"
                  ng-click="!zohoCrm.isLoadingVtexFields ? zohoCrm.deleteList(integratedList.IdList) : false"
                >
                  {{ 'zoho_crm_integration.connected.delete_mode_grid.delete' |
                  translate }}
                </a>
              </span>
            </td>
          </tr>
          <tr
            ng-show="zohoCrm.importingList || integratedList.SubscribersListStatus === 5"
            class="exportingList"
            ng-repeat="integratedList in zohoCrm.integratedLists"
          >
            <td>{{ integratedList.ThirdPartyName }}</td>
            <td class="list-name sync">{{ integratedList.Name }}</td>
            <td colspan="3" class="status">
              <span class="icon-clock"></span>
              <span
                >&nbsp;{{ 'zoho_crm_integration.connected.synchronizing_grid' |
                translate }}</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div
      class="dp-library margin-t-20 margin-b-20"
      ng-show="!!zohoCrm.errorMessage.length"
    >
      <div
        id="messageBar"
        class="col-md-12 m-b-12 dp-wrap-message dp-wrap-cancel"
      >
        <span class="dp-message-icon"></span>
        <div class="dp-content-message dp-content-full">
          <span>{{ zohoCrm.errorMessage }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
