<section class="section--default background--white section--templates-empty">
	<div class="wrapper text--center components--center wrapper--old">
		<img src="../../images/icon-templates.svg" class="icon" />
		<h1>{{ 'templates_title' | translate }}</h1>
		<p class="description">{{ 'templates_empty.description' | translate }} <br /><a class="link--default"  href="{{ 'templates_empty.description_link_url' | translate }}" target="_blank">{{ 'templates_empty.description_link_text' | translate }}</a></p>
		<a class="button button--primary" ng-click="createTemplate()">{{ 'templates_create' | translate }}</a>
	</div>
</section>