<div class="margin-t-20">
  <label class="label label--panel">* {{ 'sms_settings.buy_screen.credit_card.firstname_lastname' | translate }}</label>
  <input
    type="text"
    name="holderFullName"
    class="input--text"
    ng-model="smsSettings.paymentData.billingInformation.holderFullName"
    ng-required="billingInformationForm.holderFullName.$dirty || billingInformationForm.$submitted"
    ng-class="{ 'hasErrors' : billingInformationForm.holderFullName.$invalid }"/>
  <div class="grid-display payment-two-columns gap-30 padding-t-10  row-gap-10">
    <div>
      <label class="label label--panel">* {{ 'sms_settings.buy_screen.credit_card.credit_card_type' | translate }}</label>
      <dropdown
        class="dropdown"
        placeholder="{{smsSettings.selectOptionPlaceholder}}"
        id="dd-consumerTypes"
        list="smsSettings.creditCardTypes"
        name="idCCType"
        ng-model="smsSettings.paymentData.billingInformation.idCCType"
        property="description"
        id-value="idCCType"
        ng-required="billingInformationForm.idCCType.$dirty || billingInformationForm.$submitted"
        ng-class="{ 'hasErrors' : billingInformationForm.idCCType.$invalid }"
        ng-change="smsSettings.updateRegExCC()"></dropdown>
    </div>
    <div>
      <label class="label label--panel">* {{ 'sms_settings.buy_screen.credit_card.card_number' | translate }}</label>
      <input
        type="text"
        dp-integer-input
        ng-model="smsSettings.paymentData.billingInformation.ccNumber"
        name="ccNumber"
        class="input--text"
        ng-pattern="smsSettings.regexCC"
        ng-class="{ 'hasErrors' : billingInformationForm.ccNumber.$invalid }"
        ng-required="billingInformationForm.ccNumber.$dirty || billingInformationForm.$submitted"/>
    </div>
    <div class="grid-display payment-two-columns gap-30">
      <div>
        <label class="label label--panel">* {{ 'sms_settings.buy_screen.credit_card.expiration_date' | translate }}</label>
        <dropdown
          class="dropdown"
          placeholder="{{smsSettings.ccExpMonthPlaceholder}}"
          id="dd-months"
          list="smsSettings.months"
          name="ccExpMonth"
          ng-model="smsSettings.paymentData.billingInformation.ccExpMonth"
          property="name"
          id-value="id"
          ng-required="billingInformationForm.ccExpMonth.$dirty || billingInformationForm.$submitted"
          ng-class="{ 'hasErrors' : billingInformationForm.ccExpMonth.$invalid }"></dropdown>
      </div>
      <div>
        <dropdown
          class="dropdown padding-t-30"
          placeholder="{{smsSettings.ccExpYearPlaceholder}}"
          id="dd-years"
          list="smsSettings.years"
          name="ccExpYear"
          ng-model="smsSettings.paymentData.billingInformation.ccExpYear"
          property="name"
          id-value="id"
          ng-required="billingInformationForm.ccExpYear.$dirty || billingInformationForm.$submitted"
          ng-class="{ 'hasErrors' : billingInformationForm.ccExpYear.$invalid }"></dropdown>
      </div>
    </div>
    <div>
      <label class="label label--panel">* {{ 'sms_settings.buy_screen.credit_card.verification_code' | translate }}</label>
      <input dp-integer-input
        type="text"
        class="input--text"
        ng-class="{ 'hasErrors' : billingInformationForm.ccVerificationCode.$invalid}"
        ng-model="smsSettings.paymentData.billingInformation.ccVerification"
        name="ccVerificationCode"
        ng-required="billingInformationForm.ccVerificationCode.$dirty || billingInformationForm.$submitted"
        ng-maxlength="{{ smsSettings.cvvLength }}"
        ng-minlenght="{{ smsSettings.cvvLength }}"
        maxlength="{{ smsSettings.cvvLength }}"
        minlength="{{ smsSettings.cvvLength }}"/>
    </div>
    <div ng-include="'angularjs/partials/controlPanel/smsSettings/smsPaymentMethods/dni.html'"
      ng-if="smsSettings.showDNI(
        smsSettings.paymentData.billingInformation.idCountry,
        smsSettings.selectedPaymentMethod,
        smsSettings.paymentData.billingInformation.idConsumerType
        )">
    </div>
  </div>
</div>
