div[uib-datepicker-popup-wrap] {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 5px;
  background: $color-white;
  .uib-datepicker-popup.dropdown-menu {
    padding: 15px;
    border: 2px solid $color-primary;
    border-radius: $border-radius--default;
  }
  .btn {
    border: 0;
  }
  .uib-day {
    .btn {
      background: $color-ghostwhite;
      color: $color-base;
      border: 0;
      padding: 0;
      margin: 0;
      span {
        width: 30px;
        font-size: $font-size--small;
        background: $color-ghostwhite;
        display: inline-block;
        padding: 5px;
        border:1px solid $color-ghostwhite;
        &.text-muted {
          display: none;
        }

      }
      &:hover span {
        border-color: $color-primary;
      }
      &.btn-info {
        span {
          background: $color-primary;
          &:hover {
            border-color: $color-ghostwhite;
          }
        }
      }
    }
  }
  .uib-months,
  .uib-years {
    td {
      padding-right: 5px;
      padding-bottom: 5px;
    }
    .btn {
      background: $color-ghostwhite;
      color: $color-base;
      font-size: $font-size--small;
      text-align: center;
      width: auto;
      padding: 5px;
      border:1px solid $color-ghostwhite;
      margin: 5px 5px 0;
      &:hover {
        border-color: $color-primary;
      }
    }
    .btn-info {
      background: $color-primary
    }
    .btn-info:hover {
      border-color: $color-ghostwhite;
    }
  }

  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
      cursor: not-allowed;
      -webkit-box-shadow: none;
      box-shadow: none;
      background: $color-snow;
      color: $color-sylver;
      &:hover,
      &:hover span{
        border-color:$color-snow;
      }
      span {
        background: $color-snow;
        border-color: $color-snow;
      }
  }
  .pull-left,
  .pull-right,
  .uib-title {
    background: none;
    position: relative;
    span {
      display: none;
    }
  }

  th {
    .pull-left,
    .pull-right {
      width: 16px;
      height: 16px;
      bottom: 5px;
    }
    .pull-left {
      &::after {
        @include arrow-after(7px, 8px, "left", $color-base);
        top: 4px;
      }
    }
    .pull-right {
      &::after {
        @include arrow-after(7px, 8px, "right", $color-base);
        top: 4px;
      }
    }
    &:last-child {
      text-align: right;
    }
  }
  th.text-center {
    text-align: center;
    color: $color-lightgrey;
    font-size: 16px;
    padding-bottom: 5px;
  }
  .uib-title strong {
    font-size: $font-size--small;
    color: $color-darkgrey;
  margin-bottom: 15px;
  display: inline-block;
  }
  .uib-close,
  .uib-clear {
    display: none;
  }

  .uib-yearpicker {
    th {
      .btn[disabled] {
        background: none;
      }
    }
  }
}
div[uib-daypicker] {
  outline: none;
}
.uib-button-bar {
  border-top: 1px solid $color-primary;
  text-align: center;
  margin-top: 10px;
    padding: 5px 10px 0;
  span {
    display: inline-block;
  }
  .btn {
    background: none;
    font-size: $font-size--small;
    color: $color-base;
    font-weight: $font_weight-bolder;

  }
}
