<div ng-if="!form.isLoading && form.dataSuccess">
  <div class="dp-library">
  <header class="hero-banner">
    <div class="dp-container">
      <div class="dp-rowflex">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="form-integration-info">
            <a ng-href="/Lists/Form">{{ 'forms_integrate.header.back_grid_link' | translate }}</a>
            <span>>&nbsp;{{ form.getTypeText(form.type) }}</span>
          </div>
          <h2>{{ 'forms_integrate.header.title' | translate }}</h2>
        </div>
        <div class="col-sm-7">
          <p>
            <span>
              {{ 'forms_integrate.header.subtitle' | translate }} <a target="_blank" ng-href="{{'forms_integrate.header.subtitle_help_link' | translate}}">{{ 'help_link_text' | translate }}.</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </header>
  </div>
  <div class="form-integration-tab--container">
    <div class="wrapper">
      <header class="form-integration-header-main" ng-show="form.type !== form.FORM_TYPE.MODAL && form.type !== form.FORM_TYPE.WHATSAPP">
        <div class="nav-container flex-grid">
          <nav class="nav-main">
            <ul>
              <li ng-repeat="integration in form.integrations" class="nav-main--item">
                <a target="_self" ng-class="{'active': integration == form.selectedIntegration }" ng-click="form.showIntegration(integration)">{{integration}}</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="form-integration-container"
        ng-if="form.selectedIntegration === 'Link'"
        ng-include="'angularjs/partials/forms/integrations/link.html'">
      </div>
      <div class="form-integration-container"
        ng-if="form.selectedIntegration === 'Landing'"
        ng-include="'angularjs/partials/forms/integrations/landing.html'"
        ng-controller="FormIntegrateLandingCtrl as landing"
        ng-init="landing.formCustomDomainUrl = form.formCustomDomainUrl">
      </div>
      <div class="form-integration-container"
        ng-show="form.selectedIntegration === 'Embed'"
        ng-include="'angularjs/partials/forms/integrations/embed.html'">
      </div>
      <div class="form-integration-container"
        ng-if="form.selectedIntegration === 'Facebook'"
        ng-include="'angularjs/partials/forms/integrations/facebook.html'"
        ng-controller="FormIntegrateFacebookCtrl as facebookCtrl">
      </div>
      <div class="form-integration-container"
        ng-show="form.selectedIntegration === 'IFrame'"
        ng-include="'angularjs/partials/forms/integrations/iframe.html'">
      </div>
    </div>
  </div>
</div>
<div ng-show="!form.dataSuccess">
  <div class="grid-title-section form-integration-error--container">
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="form-integration-info">
            <a ng-href="/Lists/Form">{{ 'forms_integrate.header.back_grid_link' | translate }}</a>
          </div>
          <h2>{{ 'forms_integrate.header.error_title' | translate }}</h2>
          <p>
            <span>
              {{ 'forms_integrate.header.error_subtitle' | translate }}</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
