<div id="mapping-panel" class="grayPanel-box grayPanel-controlPanel-box grayPanelPadding-box"
    ng-if="magento.connected && magento.showMapping && magento.sourceType == magento.mvcSourceType">
    <div>
        <div class="authentication-container connected">
            <div>
                <span class="control-panel-section-title">{{ 'magento_integration.mapping.title' | translate }}</span>
                <span class="control-panel-section-subtitle">{{ 'magento_integration.mapping.subtitle' | translate }}</span>
            </div>
        </div>
        <hr class="full" style="width: calc(100% + 40px);" />
        <p class="integration-information-text">{{ 'magento_integration.mapping.selected_subscriber_list' | translate }}: <strong>{{ magento.selectedList.ListName }}</strong></p>
        <div class="mapping-container">
            <div class="grayPanel-box flex-grid" ng-repeat="field in magento.magentoFields" dp-on-finish-ng-repeat>
                <div>
                    <p>{{ 'magento_integration.mapping.data_entity_field' | translate }}: <b>{{field.DisplayName.length > 30 ? field.DisplayName.substring(0,27) + '...' : field.DisplayName}}</b></p>
                </div>
                <div>
                    <dropdown class="dropdown dropdown--big"
                        placeholder="{{'magento_integration.mapping.select_field_placeholder' | translate}}"
                        id="dd-userFields{{$index}}" list="magento.availablesFields"
                        name="magento.userFields" ng-model="field.idDopplerField" ng-required="true"
                        property="name" id-value="idField" ng-change="magento.setAvailablesFields()"
                        ng-disabled="magento.availablesFields && magento.availablesFields.length == 0" ng-click="magento.errorMessage=''"></dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="dp-library margin-t-20 margin-b-20" ng-show="!!magento.errorMessage.length">
      <div id="messageBar" class="col-md-12 m-b-12 dp-wrap-message dp-wrap-cancel">
        <span class="dp-message-icon"></span>
        <div class="dp-content-message dp-content-full">
          <span>{{ magento.errorMessage }}</span>
        </div>
      </div>
    </div>
    <div class="nav-button-bar flex-grid-v-center--s-between">
        <button ng-click="magento.goBack()" class="button button--alternative">
                {{ 'magento_integration.mapping.back' | translate }}
        </button>
        <button ng-class="{'button--spinner' : magento.isMapping}" ng-click="magento.mapFields()"
                class="button button--primary">
          {{ 'magento_integration.connected.synchronize' | translate }}
          <span class="icon-editor-saving hide"></span>
        </button>
    </div>
</div>
