<div id="connectedCont" class="grayPanel-box grayPanel-controlPanel-box grayPanelPadding-box" ng-if="magento.connected && !magento.showMapping && magento.sourceType === magento.mvcSourceType">
  <div>
    <div class="authentication-container connected">
      <div>
        <span class="control-panel-section-title">{{ 'magento_integration.connected.title' | translate }}</span>
        <span class="control-panel-section-subtitle" ng-show="!magento.isLoading">
          {{ 'magento_integration.connected.subtitle_list_count' | translate:{ 'availableLists' : magento.integratedListsAvailable} }}
        </span>
      </div>
      <div class="button--frame">
        <button type="button" ng-click="magento.synchronizeAllLists();"
                ng-class="{'spin': magento.importingList && !magento.disableSync}" ng-disabled="magento.disableSync"
                class="button reload-icon"></button>
      </div>
    </div>
    <div class="dp-library">
      <div class="dp-wrap-message dp-wrap-warning ng-binding ng-scope margin-b-20">
        <span class="dp-message-icon"></span>
        <div class="dp-content-message">
          <span id="messageBar" class="text--small">
            {{ 'magento_integration.connected.select_list_warning' | translate }}
          </span>
        </div>
      </div>
    </div>
    <hr class="full" style="width: calc(100% + 40px);" />
    <div style="min-height:74px" class="loading--container components--center" dp-partial="angularjs/partials/shared/loading.html" ng-if="magento.importingListDropdown && !magento.isLoading"></div>
    <div class="entity-selector-container flex-grid" ng-if="!magento.importingListDropdown">
      <dropdown class="dropdown dropdown--big"
                placeholder="{{magento.entityPlaceholder}}" id="dd-entities"
                list="magento.magentoEntitiesList" name="magento.selectedEntityId" ng-model="magento.selectedEntityId"
                ng-required="true" property="description" id-value="id" ng-disabled="!!magento.magentoEntitiesList && magento.magentoEntitiesList.length === 0 || magento.isLoadingMagentoFields"></dropdown>
      <dropdown class="dropdown dropdown--big"
                placeholder="{{magento.listPlaceholder}}" id="dd-lists"
                list="magento.userList" name="magento.selectedListId" ng-model="magento.selectedListId" ng-required="true"
                property="ListName" id-value="IdList" ng-disabled="!!magento.userList && magento.userList.length === 0 || magento.isLoadingMagentoFields"></dropdown>
      <div>
        <button type="submit" ng-click="magento.showMappingSection();" class="button button--primary"
                ng-disabled="!magento.selectedEntityId || !magento.selectedListId" ng-class="{'button--spinner' : magento.isLoadingMagentoFields}">
          {{ 'magento_integration.mapping.next' | translate }}
          <span class="icon-editor-saving hide"></span>
        </button>
      </div>
    </div>
    <div ng-if="magento.integratedLists.length">
      <p class="select-list-text">{{ 'magento_integration.connected.grid_title' | translate }}:</p>
      <span class="control-panel-section-subtitle">  </span>
      <table class="grid">
        <thead>
        <th>{{ 'magento_integration.connected.entity_name_grid' | translate }}</th>
        <th>{{ 'magento_integration.connected.list_name_grid' | translate }}</th>
        <th>{{ 'magento_integration.connected.last_synchronization_grid' | translate }}</th>
        <th>{{ 'magento_integration.connected.subscribers_count_grid' | translate }}</th>
        <th>{{ 'magento_integration.connected.actions_grid' | translate }}</th>
        </thead>
        <tbody>
          <tr ng-show="!magento.importingList && integratedList.SubscribersListStatus !== 5" ng-repeat="integratedList in magento.integratedLists">
            <td ng-show="magento.integrationToDelete != $index">{{ integratedList.ThirdPartyName }}</td>
            <td class="list-name" ng-show="magento.integrationToDelete != $index"><ellipsis-with-tooltip text="integratedList.Name" class="stand-alone"></ellipsis-with-tooltip></td>
            <td ng-show="magento.integrationToDelete != $index">{{ integratedList.LastUpdateFormatted ? integratedList.LastUpdateFormatted : '-'  }}</td>
            <td ng-show="magento.integrationToDelete != $index">{{ integratedList.SubscribersCount }}</td>
            <td ng-show="magento.integrationToDelete != $index" class="actions">
              <span data-static-tooltip="{{ 'magento_integration.connected.edit_tooltip' | translate }}">
                <a target="_self" class="icon-grid-edit" ng-click="magento.editMap(integratedList.IdList, integratedList.ThirdPartyId)"></a>
              </span>
              <span data-static-tooltip="{{ 'magento_integration.connected.delete_mode_grid.tooltip' | translate }}" class="to-left">
                <a ng-click="!magento.isLoadingMagentoFields ? magento.integrationToDelete = $index : false"><img src="../../../images/grid-delete.svg"></a>
              </span>
            </td>
            <td ng-show="magento.integrationToDelete == $index" class="delete-confirmation-text" colspan="3">
              <span class="deleteConfirmationIcon"></span>
              <span>{{ 'magento_integration.connected.delete_mode_grid.message' | translate }}</span>
            </td>
            <td ng-show="magento.integrationToDelete == $index" class="delete-confirmation-actions" colspan="2">
              <span>
                <a ng-click="!magento.isLoadingMagentoFields ? magento.integrationToDelete = null : false">
                  {{ 'magento_integration.connected.delete_mode_grid.cancel' | translate }}
                </a>
                |
                <a class="delete-text" ng-click="!magento.isLoadingMagentoFields ? magento.deleteList(integratedList.IdList) : false">
                  {{ 'magento_integration.connected.delete_mode_grid.delete' | translate }}
                </a>
              </span>
            </td>
          </tr>
          <tr ng-show="magento.importingList || integratedList.SubscribersListStatus === 5" class="exportingList" ng-repeat="integratedList in magento.integratedLists">
            <td>{{ integratedList.ThirdPartyName }}</td>
            <td class="list-name sync">{{ integratedList.Name }}</td>
            <td colspan="3" class="status">
              <span class="icon-clock"></span>
              <span>&nbsp;{{ 'magento_integration.connected.synchronizing_grid' | translate }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="dp-library margin-t-20 margin-b-20" ng-show="!!magento.errorMessage.length">
      <div id="messageBar" class="col-md-12 m-b-12 dp-wrap-message dp-wrap-cancel">
        <span class="dp-message-icon"></span>
        <div class="dp-content-message dp-content-full">
          <span>{{ magento.errorMessage }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
