<div class="dp-library">
  <div class="dp-wrapper-bd">
    <div class="dp-bd-box">
      <button type="button" class="dp-button button-medium dp-button-bd" aria-controls="dp-options-cf" id="customFieldsSubjectButton" ng-class="{ 'active': showContainerCFItems }" ng-click="clickCFButton()">
        <i class="ms-icon icon-brackets"></i>
      </button>

      <div id="customFieldsSubjectItemsContainer" class="dp-content-bd" ng-class="{ 'items-panel-visible': showContainerCFItems }">
        <ul class="dp-list-cfield" id="dp-options-cf">
          <li ng-repeat="field in sortedUserFields" role="none" ng-click="clickCFItem(field.Name)">
            <a role="menuitem" class="element">{{field.Name}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
