
  <p class="title">
    {{'automation_editor.sidebar.condition_title' | translate}}
    <span data-static-tooltip="{{ 'automation_editor.sidebar.condition_title_tip' | translate }}" class="to-left all to-bottom medium"><span class="icon-tip"></span></span>
  </p>
  <div class="input--group condition-container">
    <input type="text" class="input--text" ng-model="selectedComponent.name" maxlength="100" ng-disabled="isReadOnly();"/>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{getReadOnlyLabel();}}</span>
  </div>
  <p class="title alt">
    {{'automation_editor.sidebar.condition_define_conditions' | translate}}
    <span data-static-tooltip="{{ 'automation_editor.sidebar.condition_define_conditions_tip' | translate }}" class="to-left all medium"><span class="icon-tip"></span></span>
  </p>
<!-- when there is at least one conditional -->
<div class="conditional condition-container" ng-class="{'read-only-mode' : isReadOnly()}" ng-repeat="(index, conditional) in selectedComponent.conditionals track by $index" ng-if="selectedComponent.conditionals.length > 0">
  <div class="box-type--container relative" ng-class="{'incomplete': !conditional.completed || (conditional.type === CONDITIONAL_TYPE.SITE_BEHAVIOR && !canUseSiteBehaviorCondition()), 'focus': conditional.uid === selectedConditional.uid}" ng-click="setSelectedConditional(conditional);">
    <dp-editor-dropdown class="dropdown dropdown--full" id="conditional{{index}}" name="conditional{{index}}" property="conditional{{index}}"
      ng-if="conditional.uid === selectedConditional.uid"
      options="conditionalOptions"
      label="conditional.label"
      on-select-option="onConditionalSelected(option, conditional, index)"
      value-selected="conditional.type"
      ng-disabled="isReadOnly();">
    </dp-editor-dropdown>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{getReadOnlyLabel();}}</span>
    <!-- CAMPAIGN_BEHAVIOR - EXPANDED -->
    <div class="other--options" ng-if="conditional.type === CONDITIONAL_TYPE.CAMPAIGN_BEHAVIOR && conditional.uid === selectedConditional.uid">
      <!-- email components selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="campaignName{{index}}" name="campaignName{{index}}" property="campaignName{{index}}"
        ng-class="{'placeholder': conditional.email.uidEmail === 0, 'hasError': showErrorFor('campaign_behavior_emails')}"
        options="emailComponentsToBind"
        label="conditional.email.uidEmail !== 0 ? conditional.email.label : ('automation_editor.components.condition.conditionals.campaign_behavior.label_email' | translate)"
        on-select-option="onEmailSelected(option, conditional.email)"
        key-value="'idEmail'"
        value-selected="conditional.email.idEmail"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <div class="error-messages--container" ng-show="!emailComponentsToBind.length">
        <div class="error">{{'automation_editor.components.condition.conditionals.error.no_email' | translate}}</div>
      </div>
      <!-- events selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="campaignEvent{{index}}" name="campaignEvent{{index}}" property="campaignEvent{{index}}"
        ng-class="{'placeholder': !conditional.event.length, 'hasError': showErrorFor('campaign_behavior_events')}"
        options="campaignBehaviorEvents"
        label="conditional.event ? 'automation_editor.components.condition.conditionals.campaign_behavior.events.' + conditional.event : 'automation_editor.components.condition.conditionals.campaign_behavior.label_event' | translate"
        on-select-option="onCampaignBehaviorEventSelected(option.value)"
        value-selected="conditional.event"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- links selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="campaignLink{{index}}" name="campaignLink{{index}}" property="campaignLink{{index}}"
        ng-if="conditional.event === CONDITIONAL_EVENT.LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.LINK_NOT_CLICKED"
        ng-class="{'placeholder': conditional.link.idLink === 0, 'hasError': showErrorFor('campaign_behavior_links')}"
        options="selectedEmailLinks"
        label="conditional.link.idLink === 0 ? ('automation_editor.components.condition.conditionals.campaign_behavior.label_link' | translate) : conditional.link.url"
        on-select-option="onConditionalAttributeSelected('link', option)"
        key-label="'url'"
        key-value="'idLink'"
        value-selected="conditional.link.idLink"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <div class="error-messages--container" ng-if="((conditional.event === CONDITIONAL_EVENT.LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.LINK_NOT_CLICKED || conditional.event === CONDITIONAL_EVENT.ANY_LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.NO_LINK_CLICKED) && conditional.email.uidEmail !== 0 && (!linksByEmail[conditional.email.uidEmail].length || conditional.link.idLink === -1) || (conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN))">
        <div class="error" ng-show="(conditional.event === CONDITIONAL_EVENT.LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.LINK_NOT_CLICKED || conditional.event === CONDITIONAL_EVENT.ANY_LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.NO_LINK_CLICKED) && conditional.link.idLink !== -1 && !linksByEmail[conditional.email.uidEmail].length">{{'automation_editor.components.condition.conditionals.error.no_link' | translate}}</div>
        <div class="error" ng-show="(conditional.event === CONDITIONAL_EVENT.LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.LINK_NOT_CLICKED) && conditional.link.idLink === -1">{{'automation_editor.components.condition.conditionals.error.deleted_link' | translate}}</div>
        <div class="error" ng-show="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">{{'automation_editor.components.condition.conditionals.error.duplicate_conditional' | translate}}</div>
      </div>
    </div>
    <!-- LIST_MEMBERSHIP - EXPANDED -->
    <div class="other--options relative" ng-if="conditional.type === CONDITIONAL_TYPE.LIST_MEMBERSHIP && conditional.uid === selectedConditional.uid">
      <dp-editor-dropdown class="dropdown dropdown--full" id="membershipEvent{{index}}" name="membershipEvent{{index}}" property="membershipEvent{{index}}"
        options="listMembershipEvents"
        label="'automation_editor.components.condition.conditionals.list_membership.events.' + conditional.event | translate"
        on-select-option="onConditionalAttributeSelected('event', option.value)"
        value-selected="conditional.event"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <div class="selected-list alt conditions" ng-if="conditional.subscriptionList.IdSubscribersList !== 0">
        <span class="text">
          <strong>{{'automation_editor.components.condition.conditionals.list_membership.label_list' | translate }}</strong>
        </span>
        <div>
          <span class="icon-check"></span>
          <span class="name">{{conditional.subscriptionList.ListName}}</span>
        </div>
      </div>
      <button class="button button--primary button--small"
        ng-class="{'button--error': conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN}"
        ng-click="showListSelectionSimple()"
        ng-disabled="isReadOnly();">
        {{conditional.subscriptionList.IdSubscribersList === 0 ? 'automation_editor.sidebar.list_select_button' : 'automation_editor.sidebar.list_replace_button' | translate }}
      </button>
      <div class="error-messages--container" ng-if="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">
        <div class="error" ng-show="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">{{'automation_editor.components.condition.conditionals.error.duplicate_conditional' | translate}}</div>
      </div>
    </div>
    <!-- SUBSCRIBER_INFORMATION - EXPANDED -->
    <div class="other--options relative" ng-if="conditional.type === CONDITIONAL_TYPE.SUBSCRIBER_INFORMATION && conditional.uid === selectedConditional.uid">
      <!-- field selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="subscriberField{{index}}" name="subscriberField{{index}}" property="subscriberField{{index}}"
        ng-class="{'placeholder': !conditional.field, 'hasError': showErrorFor('subscriber_information_fields')}"
        options="userFields"
        label="conditional.field ? conditional.field.label : 'automation_editor.components.condition.conditionals.subscriber_information.label_field' | translate"
        on-select-option="onSubscriberFieldSelected(option, conditional.field)"
        key-value="'id'"
        value-selected="conditional.field.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- deleted field error message -->
      <div class="error-messages--container" ng-if="conditional.field.deleted">
        <div class="error">{{'automation_editor.components.condition.conditionals.error.deleted_field' | translate}}</div>
      </div>
      <!-- scoring selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="score{{index}}" name="score{{index}}" property="score{{index}}"
        ng-class="{'placeholder': conditional.field.score.id === 0, 'hasError': showErrorFor('subscriber_information_score')}"
        ng-if="conditional.field.type === FIELD_TYPE.SCORE"
        options="scoreOptions"
        key-label="'name'"
        label="conditional.field.score.id !== 0 ? conditional.field.score.name : 'automation_editor.components.condition.conditionals.subscriber_information.label_score' | translate"
        on-select-option="onConditionalScoreSelected(option)"
        key-value="'id'"
        value-selected="conditional.field.score.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
       <!-- origin selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="origin{{index}}" name="origin{{index}}" property="origin{{index}}"
        ng-class="{'placeholder': conditional.field.origin.id === 0, 'hasError': showErrorFor('subscriber_information_origin')}"
        ng-if="conditional.field.type === FIELD_TYPE.ORIGIN"
        options="originOptions"
        key-label="'name'"
        label="conditional.field.origin.id !== 0 ? conditional.field.origin.name : 'automation_editor.components.condition.conditionals.subscriber_information.label_origin' | translate"
        on-select-option="onConditionalOriginSelected(option)"
        key-value="'id'"
        value-selected="conditional.field.origin.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- text selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="textField{{index}}" name="textField{{index}}" property="textField{{index}}"
        ng-class="{'placeholder': !conditional.field.criteria.length, 'hasError': showErrorFor('subscriber_information_criteria')}"
        ng-if="conditional.field.type === FIELD_TYPE.STRING || conditional.field.type === FIELD_TYPE.EMAIL || conditional.field.type === FIELD_TYPE.PHONE"
        options="textFieldCriteria"
        label="'automation_editor.components.condition.conditionals.subscriber_information.criteria.' + (conditional.field.criteria.length ? conditional.field.criteria : 'label') | translate"
        on-select-option="onConditionalAttributeSelected('field.criteria', option.value)"
        value-selected="conditional.field.criteria"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- operator selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="operator{{index}}" name="operator{{index}}" property="operator{{index}}"
        ng-class="{'placeholder': !conditional.field.criteria.length, 'hasError': showErrorFor('subscriber_information_criteria')}"
        ng-if="conditional.field.type === FIELD_TYPE.DATE || conditional.field.type === FIELD_TYPE.REAL"
        options="comparisonOperators"
        label="'automation_editor.components.condition.conditionals.subscriber_information.criteria.operators.' + (conditional.field.criteria.length ? conditional.field.criteria : 'label') | translate"
        on-select-option="onConditionalAttributeSelected('field.criteria', option.value)"
        value-selected="conditional.field.criteria"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- gender selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="gender{{index}}" name="gender{{index}}" property="gender{{index}}"
        ng-class="{'placeholder': !conditional.field.gender.length, 'hasError': showErrorFor('subscriber_information_gender')}"
        ng-if="conditional.field.type === FIELD_TYPE.GENDER"
        options="genderFieldOptions"
        label="'automation_editor.components.condition.conditionals.subscriber_information.gender.' + (conditional.field.gender.length ? conditional.field.gender : 'label') | translate"
        on-select-option="onConditionalAttributeSelected('field.gender', option.value)"
        value-selected="conditional.field.gender"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- country selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="country{{index}}" name="country{{index}}" property="country{{index}}"
        ng-class="{'placeholder': conditional.field.country.id === 0, 'hasError': showErrorFor('subscriber_information_country')}"
        ng-if="conditional.field.type === FIELD_TYPE.COUNTRY"
        options="countries"
        key-label="'name'"
        label="conditional.field.country.id !== 0 ? conditional.field.country.name : 'automation_editor.components.condition.conditionals.subscriber_information.label_country' | translate"
        on-select-option="onConditionalCountrySelected(option)"
        key-value="'id'"
        value-selected="conditional.field.country.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- boolean selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="boolean{{index}}" name="boolean{{index}}" property="boolean{{index}}"
        ng-class="{'hasError': showErrorFor('subscriber_information_boolean')}"
        ng-if="conditional.field.type === FIELD_TYPE.BOOLEAN"
        options="booleanOptions"
        label="'automation_editor.components.condition.conditionals.subscriber_information.boolean.' + (conditional.field.value ? 'yes' : 'no') | translate"
        on-select-option="onConditionalAttributeSelected('field.value', option.value)"
        value-selected="conditional.field.value"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- consent selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="consent{{index}}" name="consent{{index}}" property="consent{{index}}"
        ng-class="{'hasError': showErrorFor('subscriber_information_boolean')}"
        ng-if="conditional.field.type === FIELD_TYPE.CONSENT"
        options="consentOptions"
        label="'automation_editor.components.condition.conditionals.subscriber_information.boolean.' + (conditional.field.value ? 'yes' : 'no') | translate"
        on-select-option="onConditionalAttributeSelected('field.value', option.value)"
        value-selected="conditional.field.value"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- permission selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="permission{{index}}" name="permission{{index}}" property="permission{{index}}"
        ng-class="{'hasError': showErrorFor('subscriber_information_boolean')}"
        ng-if="conditional.field.type === FIELD_TYPE.PERMISSION"
        options="permissionOptions"
        label="'automation_editor.components.condition.conditionals.subscriber_information.boolean.' + (conditional.field.value ? 'yes' : 'no') | translate"
        on-select-option="onConditionalAttributeSelected('field.value', option.value)"
        value-selected="conditional.field.value"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- additional values -->
      <form class="additional-value" id="subscriberInformationForm" name="subscriberInformationForm" ng-if="conditional.field.criteria.length">
        <input class="input--text" type="text" maxlength="100"
          ng-class="{'hasErrors': showErrorFor('subscriber_information_value')}"
          ng-if="conditional.field.type === FIELD_TYPE.STRING || conditional.field.type === FIELD_TYPE.EMAIL || conditional.field.type === FIELD_TYPE.PHONE"
          ng-model="conditional.field.value"
          ng-disabled="isReadOnly();"/>
        <input class="input--text" name="number" type="text" maxlength="100"
          ng-class="{'hasErrors': showErrorFor('subscriber_information_value') || subscriberInformationForm.number.$invalid}"
          ng-pattern="REGEX_NUMBER"
          dp-editor-parser-formatter="FORMAT_TYPE.FLOAT"
          ng-if="conditional.field.type === FIELD_TYPE.REAL"
          ng-model="conditional.field.value"
          ng-disabled="isReadOnly();"/>
        <div class="error-messages--container" ng-messages="subscriberInformationForm.number.$error">
          <div ng-message="pattern" class="error">{{'automation_editor.components.condition.conditionals.error.number_pattern' | translate}}</div>
        </div>
        <!-- datepicker selector -->
        <div class="input-datepicker--container relative" ng-if="conditional.field.type === FIELD_TYPE.DATE" ng-click="datePickerPopup.visible = true;">
          <input class="form-control input--text" type="text" name="date" ng-required="true"
            ng-class="{'hasErrors': showErrorFor('subscriber_information_date_value') || subscriberInformationForm.date.$invalid}"
            ng-model="datePickerPopup.value"
            uib-datepicker-popup="{{format}}"
            datepicker-options="datePickerOptions"
            is-open="datePickerPopup.visible"
            close-text="Close"
            current-text="{{ 'automation_editor.sidebar.date_picker_current_text' | translate }}"
            ng-disabled="isReadOnly();"/>
          <span class="icon-calendar"></span>
        </div>
      </form>
      <!-- duplicate error message -->
      <div class="error-messages--container" ng-if="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">
        <div class="error" ng-show="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">{{'automation_editor.components.condition.conditionals.error.duplicate_conditional' | translate}}</div>
      </div>
    </div>
     <!-- ABANDONED_CART_INFORMATION - EXPANDED -->
    <div class="other--options relative" ng-if="conditional.type === CONDITIONAL_TYPE.ABANDONED_CART_INFORMATION && conditional.uid === selectedConditional.uid">
      <!-- field selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="subscriberField{{index}}" name="subscriberField{{index}}" property="subscriberField{{index}}"
        ng-class="{'placeholder': !conditional.field, 'hasError': showErrorFor('abandoned_cart_information_fields')}"
        options="abandonedCartInformationDefaultFields"
        label="conditional.field ? conditional.field.label : 'automation_editor.components.condition.conditionals.subscriber_information.label_field' | translate"
        on-select-option="onAbandonedCartFieldSelected(option, conditional.field)"
        key-value="'id'"
        value-selected="conditional.field.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
       <!-- operator selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="operator{{index}}" name="operator{{index}}" property="operator{{index}}"
        ng-class="{'placeholder': !conditional.field.criteria.length, 'hasError': showErrorFor('subscriber_information_criteria')}"
        ng-if="conditional.field.type === FIELD_TYPE.DATE || conditional.field.type === FIELD_TYPE.REAL"
        options="comparisonOperators"
        label="'automation_editor.components.condition.conditionals.subscriber_information.criteria.operators.' + (conditional.field.criteria.length ? conditional.field.criteria : 'label') | translate"
        on-select-option="onConditionalAttributeSelected('field.criteria', option.value)"
        value-selected="conditional.field.criteria"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- text selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="textField{{index}}" name="textField{{index}}" property="textField{{index}}"
        ng-class="{'placeholder': !conditional.field.criteria.length, 'hasError': showErrorFor('abandoned_cart_information_criteria')}"
        ng-if="conditional.field.type === FIELD_TYPE.STRING || conditional.field.type === FIELD_TYPE.EMAIL || conditional.field.type === FIELD_TYPE.PHONE"
        options="textFieldCriteria"
        label="'automation_editor.components.condition.conditionals.subscriber_information.criteria.' + (conditional.field.criteria.length ? conditional.field.criteria : 'label') | translate"
        on-select-option="onConditionalAttributeSelected('field.criteria', option.value)"
        value-selected="conditional.field.criteria"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- boolean selector -->
      <dp-editor-dropdown class="dropdown dropdown--full" id="boolean{{index}}" name="boolean{{index}}" property="boolean{{index}}"
        ng-class="{'hasError': showErrorFor('abandoned_cart_information_fields_boolean')}"
        ng-if="conditional.field.type === FIELD_TYPE.BOOLEAN"
        options="booleanOptions"
        label="'automation_editor.components.condition.conditionals.subscriber_information.boolean.' + (conditional.field.value ? 'yes' : 'no') | translate"
        on-select-option="onConditionalAttributeSelected('field.value', option.value)"
        value-selected="conditional.field.value"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
      <!-- additional values -->
      <form class="additional-value" id="subscriberInformationForm" name="subscriberInformationForm" ng-if="conditional.field.criteria.length">
        <input class="input--text" type="text" maxlength="100"
          ng-class="{'hasErrors': showErrorFor('abandoned_cart_information_value')}"
          ng-if="conditional.field.type === FIELD_TYPE.STRING || conditional.field.type === FIELD_TYPE.EMAIL || conditional.field.type === FIELD_TYPE.PHONE"
          ng-model="conditional.field.value"
          ng-disabled="isReadOnly();"/>
        <input class="input--text" name="number" type="text" maxlength="100"
          ng-class="{'hasErrors': showErrorFor('abandoned_cart_information_value') || subscriberInformationForm.number.$invalid}"
          ng-pattern="REGEX_NUMBER"
          dp-editor-parser-formatter="FORMAT_TYPE.FLOAT"
          ng-if="conditional.field.type === FIELD_TYPE.REAL"
          ng-model="conditional.field.value"
          ng-disabled="isReadOnly();"/>
        <div class="error-messages--container" ng-messages="subscriberInformationForm.number.$error">
          <div ng-message="pattern" class="error">{{'automation_editor.components.condition.conditionals.error.number_pattern' | translate}}</div>
        </div>
        <!-- datepicker selector -->
        <div class="input-datepicker--container relative" ng-if="conditional.field.type === FIELD_TYPE.DATE" ng-click="datePickerPopup.visible = true;">
          <input class="form-control input--text" type="text" name="date" ng-required="true"
            ng-class="{'hasErrors': showErrorFor('abandoned_cart_information_date') || subscriberInformationForm.date.$invalid}"
            ng-model="datePickerPopup.value"
            uib-datepicker-popup="{{format}}"
            datepicker-options="datePickerOptions"
            is-open="datePickerPopup.visible"
            close-text="Close"
            current-text="{{ 'automation_editor.sidebar.date_picker_current_text' | translate }}"
            ng-disabled="isReadOnly();"/>
          <span class="icon-calendar"></span>
        </div>
      </form>
    </div>
    <!-- SITE_BEHAVIOR - EXPANDED -->
    <div class="other--options relative" ng-if="conditional.type === CONDITIONAL_TYPE.SITE_BEHAVIOR && conditional.uid === selectedConditional.uid">
      <form ng-if="canUseSiteBehaviorCondition()" name="conditional.siteBehaviorForm" id="siteBehaviorForm">
        <div>
        <input class="input--text" type="text"
          name="url{{index}}"
          ng-maxlength="200"
          required="true"
          ng-class="{'hasErrors': validateUrlDomain(conditional.domain,index) }"
          ng-model="conditional.domain.url"
          ng-blur="onDomainBlur($event,conditional.domain)"
          ng-disabled="isReadOnly();"
          placeholder="{{'automation_editor.components.initial_condition.site_behavior.panel.placeholder' | translate}}"/>
        <div class="error-messages--container" ng-if="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">
           <div class="error" ng-show="conditional.duplicate !== DUPLICATE_STATE.FALSE && conditional.duplicate !== DUPLICATE_STATE.ORIGIN">{{'automation_editor.components.condition.conditionals.error.duplicate_conditional' | translate}}</div>
        </div>
        <div class="error-messages--container" ng-messages="conditional.siteBehaviorForm['url' + index].$error">
          <div ng-message="required"></div>
          <div ng-message="domain" class="error">
            <span ng-if="domainVerifiedError">{{'automation_editor.components.initial_condition.site_behavior.panel.validation_messages.domain_non_verified' | translate}} <a class="text--underline" href="/ControlPanel/CampaignsPreferences/SiteTrackingSettings">{{'automation_editor.components.initial_condition.site_behavior.panel.validation_messages.domain_non_verified_link' | translate }}</a></span>
            <span ng-if="domainRegistrationError">{{'automation_editor.components.initial_condition.site_behavior.panel.validation_messages.domain_non_registered' | translate }} <a class="text--underline" href="/ControlPanel/CampaignsPreferences/SiteTrackingSettings">{{'automation_editor.components.initial_condition.site_behavior.panel.validation_messages.domain_non_registered_link' | translate }}</a></span>
            <br ng-if="domainVerifiedError || domainRegistrationError" />
            <span ng-if="urlHasParameters">{{'automation_editor.components.initial_condition.site_behavior.panel.validation_messages.url_has_parameters' | translate }}</span>
          </div>
          <div ng-message="maxlength" class="error">{{'validation_messages.maxlength' | translate}}</div>
        </div>
        <div class="flex-grid-v-center--s-between" ng-if="conditional.siteBehaviorForm['url' + index].$valid">
          <div class="flex-grid visits-page--box">
              <dp-editor-dropdown class="dropdown dropdown--tiny"
              ng-class="{'is-disabled': true}"
              id="boolean{{index}}"
              name="boolean{{index}}"
              property="boolean{{index}}"
              options="booleanOptions"
              label="'automation_editor.components.condition.conditionals.subscriber_information.boolean.' + (conditional.domain.visitedPage ? 'yes' : 'no') | translate"
              on-select-option="onVisitedPageSelected(option.value, conditional.domain, 'visitedPage')"
              value-selected="conditional.visitedPage"
              ng-disabled="isReadOnly();">
              </dp-editor-dropdown>
              <div class="info text--small">{{'automation_editor.components.initial_condition.site_behavior.panel.visited_page' | translate}}</div>
          </div>
          <div class="flex-grid visits-page--box alt" ng-if="conditional.domain.visitedPage">
              <dp-editor-dropdown class="dropdown dropdown--tiny-alt"
              id="visitedTimes{{index}}"
              name="visitedTimes{{index}}"
              property="visitedTimes{{index}}"
              options="visitedTimes"
              label="conditional.domain.visitedTimes"
              on-select-option="onVisitedPageSelected(option.value, conditional.domain, 'visitedTimes')"
              value-selected="conditional.domain.visitedTimes"
              ng-disabled="isReadOnly();">
              </dp-editor-dropdown>
              <div class="info text--small">{{'automation_editor.components.initial_condition.site_behavior.panel.visited_count' | translate}}</div>
          </div>
        </div>
        </div>
      </form>
      <div ng-if="!canUseSiteBehaviorCondition()" class="error-messages--container">
        <div class="error">
          {{ 'automationTypes.info.' + siteBehaviorStatus + '_message' | translate }}
          <a ng-if="siteBehaviorStatus === 'buy'" href="/ControlPanel/AccountPreferences/UpgradeAccount?Plan=monthly"><strong>{{ 'automationTypes.info.buy' | translate }}</strong></a>
          <a ng-if="siteBehaviorStatus === 'error' || siteBehaviorStatus === 'warning'" href="/ControlPanel/CampaignsPreferences/SiteTrackingSettings" class="text--uppercase"><strong>{{ siteBehaviorStatus === 'error' ? 'automationTypes.info.continue' : 'actions.start' | translate }}</strong></a>
          <a ng-if="siteBehaviorStatus === 'demo'" href="/Automation/Task"><strong>{{ 'automationTypes.info.activate' | translate }}</strong></a>
        </div>
      </div>
    </div>
    <!-- RESUME -->
    <div class="resume relative" ng-if="conditional.uid !== selectedConditional.uid">
      <div ng-if="!conditional.completed">{{conditional.label}}</div>
      <!-- CAMPAIGN_BEHAVIOR - COLLAPSED -->
      <div ng-if="conditional.completed && conditional.type === CONDITIONAL_TYPE.CAMPAIGN_BEHAVIOR">
        {{'automation_editor.components.condition.conditionals.campaign_behavior.canvas_description.intro_upper' | translate}}
        <strong>{{'automation_editor.components.condition.conditionals.campaign_behavior.canvas_description.' + conditional.event | translate}}</strong>
        <span class="link-text" ng-if="conditional.event === CONDITIONAL_EVENT.LINK_CLICKED || conditional.event === CONDITIONAL_EVENT.LINK_NOT_CLICKED">{{conditional.link.url}}</span>
        <span ng-if="conditional.event !== CONDITIONAL_EVENT.OPEN_EMAIL && conditional.event !== CONDITIONAL_EVENT.EMAIL_NOT_OPEN">{{'automation_editor.components.condition.conditionals.campaign_behavior.canvas_description.nexus_of' | translate}}</span>
        <span>{{conditional.email.label}}</span>
      </div>
      <!-- LIST_MEMBERSHIP - COLLAPSED -->
      <div ng-if="conditional.completed && conditional.type === CONDITIONAL_TYPE.LIST_MEMBERSHIP">
        {{'automation_editor.components.condition.conditionals.list_membership.canvas_description.intro_upper' | translate}}
        <strong>{{'automation_editor.components.condition.conditionals.list_membership.canvas_description.' + conditional.event | translate}}</strong>
        <span>{{conditional.subscriptionList.ListName}}</span>
      </div>
      <!-- SUBSCRIBER_INFORMATION - COLLAPSED -->
      <div ng-if="conditional.completed && conditional.type === CONDITIONAL_TYPE.SUBSCRIBER_INFORMATION">
        <span>{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.intro_upper' | translate}}</span>
        <strong class="text-too-long">{{conditional.field.label}}</strong>
        <span>{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.intro_subject' | translate}}</span>
        <span ng-if="conditional.field.type === FIELD_TYPE.DATE || conditional.field.type === FIELD_TYPE.REAL || conditional.field.type === FIELD_TYPE.STRING || conditional.field.type === FIELD_TYPE.EMAIL">
          {{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.criteria.' + conditional.field.criteria | translate}}
        </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.REAL || conditional.field.type === FIELD_TYPE.STRING || conditional.field.type === FIELD_TYPE.EMAIL">
          &quot;{{conditional.field.value}}&quot;
        </span>
        <span ng-bind-html="formatDate(conditional.field.date)" ng-if="conditional.field.type === FIELD_TYPE.DATE"> </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.BOOLEAN || conditional.field.type === FIELD_TYPE.COUNTRY || conditional.field.type === FIELD_TYPE.GENDER">
          {{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.intro_is' | translate}}
        </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.BOOLEAN">
          &quot;{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.' + (conditional.field.value ? 'positive' : 'negative') | translate}}&quot;
        </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.COUNTRY">&quot;{{conditional.field.country.name}}&quot;</span>
        <span ng-if="conditional.field.type === FIELD_TYPE.GENDER">
          &quot;{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.' + conditional.field.gender | translate}}&quot;
        </span>
      </div>
      <!-- ABANDONED_CART_INFORMATION - COLLAPSED -->
      <div ng-if="conditional.completed && conditional.type === CONDITIONAL_TYPE.ABANDONED_CART_INFORMATION">
        <span>{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.intro_upper' | translate}}</span>
        <strong class="text-too-long">{{conditional.field.label}}</strong>
        <span>{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.intro_subject' | translate}}</span>
        <span ng-if="conditional.field.type === FIELD_TYPE.DATE || conditional.field.type === FIELD_TYPE.REAL || conditional.field.type === FIELD_TYPE.STRING">
          {{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.criteria.' + conditional.field.criteria | translate}}
        </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.REAL || conditional.field.type === FIELD_TYPE.STRING">
          &quot;{{conditional.field.value}}&quot;
        </span>
        <span ng-bind-html="formatDate(conditional.field.date)" ng-if="conditional.field.type === FIELD_TYPE.DATE"> </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.BOOLEAN">
          {{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.intro_is' | translate}}
        </span>
        <span ng-if="conditional.field.type === FIELD_TYPE.BOOLEAN">
          &quot;{{'automation_editor.components.condition.conditionals.subscriber_information.canvas_description.' + (conditional.field.value ? 'positive' : 'negative') | translate}}&quot;
        </span>
      </div>
      <!-- SITE_BEHAVIOR - COLLAPSED -->
      <div ng-if="conditional.completed && conditional.type === CONDITIONAL_TYPE.SITE_BEHAVIOR">
        {{ 'automation_editor.components.initial_condition.site_behavior.canvas.a_subscriber' | translate }} <strong> {{ conditional.domain.visitedPage ? 'automation_editor.components.initial_condition.site_behavior.canvas.visited' : 'automation_editor.components.initial_condition.site_behavior.canvas.no_visited' | translate}} </strong> {{ 'automation_editor.components.initial_condition.site_behavior.canvas.separator' | translate }}
        <strong>{{conditional.domain.url}}</strong><span ng-if="conditional.domain.visitedPage && conditional.domain.visitedTimes > 1">
          {{'automation_editor.components.initial_condition.site_behavior.canvas.at_least' | translate}}
          {{conditional.domain.visitedTimes}}
          {{'automation_editor.components.initial_condition.site_behavior.canvas.more_times' | translate}}
        </span>
      </div>
    </div>
    <!-- delete conditional -->
  	<div class="actions-element--container actions-element-top-position disable--toggler" ng-if="selectedComponent.conditionals.length > 1">
  		<dp-editor-delete-component on-delete-component="removeConditional(conditional)"></dp-editor-delete-component>
  	</div>
  </div>
  <!-- operator AND OR -->
  <div class="and-element--container relative" ng-if="(selectedComponent.conditionals.length > 1 && selectedComponent.conditionals.length > index + 1) || (selectedComponent.conditionals.length > 0 && showAddConditionalDropdown)">
    <div class="switch-element" ng-click="toggleOperator()" ng-class="{'state-or': selectedComponent.operator === CONDITION_OPERATOR.OR}">
      <span class="circle"></span>
      <span class="text">{{selectedComponent.operator}}</span>
    </div>
    <div class="tip-help" ng-if="index === 0">
      <span class="icon-arrow-friendly"></span>
      <span class="text" ng-show="selectedComponent.operator === CONDITION_OPERATOR.AND">{{ 'automation_editor.sidebar.condition_and_tip' | translate }}</span>
      <span class="text" ng-show="selectedComponent.operator === CONDITION_OPERATOR.OR">{{ 'automation_editor.sidebar.condition_or_tip' | translate }}</span>
    </div>
  </div>
</div>
<!-- when there are not conditionals or is read only -->
<div class="box-type--container relative conditional no-condition" ng-if="!selectedComponent.conditionals.length || showAddConditionalDropdown">
  <dp-editor-dropdown class="dropdown dropdown--full placeholder" id="noCondition" name="noCondition" property="noCondition"
    options="conditionalOptions"
    label="conditionPlaceholder"
    on-select-option="onConditionalSelected(option)"
    ng-disabled="isReadOnly();">
  </dp-editor-dropdown>
  <div class="actions-element--container disable--toggler actions-element-top-position" ng-if="selectedComponent.conditionals.length">
    <dp-editor-delete-component on-delete-component="toggleAddConditionalDropdown(false)"></dp-editor-delete-component>
  </div>
  <span class="read-only--tooltip" ng-show="isReadOnly();">{{getReadOnlyLabel();}}</span>
</div>
<!-- add new conditional button -->
<div class="add-condition--container relative conditional" ng-if="selectedComponent.conditionals.length < 20">
	<span class="icon-add-element" ng-class="{'disabled': !selectedComponent.conditionals.length || isReadOnly() || showAddConditionalDropdown || !selectedComponent.conditionals[selectedComponent.conditionals.length - 1].completed}" ng-click="toggleAddConditionalDropdown(true)"></span>
  <span class="read-only--tooltip" ng-show="isReadOnly()">{{ getReadOnlyLabel(); }}</span>
	<span class="tip-help" ng-if="selectedComponent.conditionals.length > 0">
		<span class="icon-arrow-friendly"></span>
		<span class="text">{{ 'automation_editor.sidebar.condition_add_tip' | translate }}</span>
	</span>
</div>
<!-- verification time -->
<form name="verificationTimeForm">
  <div class="verification-time--container conditional" ng-if="showVerificationTimeForm()">
    <p class="title">{{'automation_editor.components.condition.verification_time.title' | translate}}</p>
    <span class="text--small">{{'automation_editor.components.condition.verification_time.subtitle' | translate}}</span>
    <div class="form-container">
      <label class="label label--panel">*{{'automation_editor.components.condition.verification_time.label' | translate}}</label>
      <div class="container">
        <input class="number input--text input-size--medium" name="time" type="text" maxlength="3"
          ng-pattern="verificationTimePattern"
          ng-class="{'hasErrors': verificationTimeForm.time.$invalid}"
          ng-model="selectedComponent.time"
          ng-required="verificationTimeForm.time.$dirty || selectedComponent.touched"
          placeholder="{{'automation_editor.sidebar.delay_input_placeholder' | translate}}"
          ng-disabled="isReadOnly();">
        <dp-editor-dropdown class="dropdown dropdown--medium" id="dd-unit" name="unit" property="timeUnit"
          options="timeUnitOptions"
          label="'automation_editor.sidebar.time_unit.' + selectedComponent.timeUnit | translate"
          on-select-option="onTimeUnitSelected(option.value)"
          value-selected="selectedComponent.timeUnit"
          ng-disabled="isReadOnly();">
        </dp-editor-dropdown>
        <span class="read-only--tooltip" ng-show="isReadOnly();">{{getReadOnlyLabel();}}</span>
      </div>
      <div ng-messages="verificationTimeForm.time.$error" class="error-messages--container">
        <div class="error" ng-message="pattern">
          {{'automation_editor.components.condition.verification_time.error_' + selectedComponent.timeUnit| translate}}
        </div>
        <div class="error" ng-message="required">
          {{'automation_editor.components.condition.verification_time.error_' + selectedComponent.timeUnit | translate}}
        </div>
      </div>
    </div>
  </div>
</form>
<div>
	<span class="icon-globo"></span>
	<p class="help-tip"><strong>{{ 'automation_editor.sidebar.condition_help_tip' | translate }}</strong> <span>{{ 'automation_editor.sidebar.list_tip_part2' | translate }}</span> <a ng-href="{{ 'automation_editor.sidebar.condition_help_tip_url' | translate }}" class="link--default" target="_blank">{{ 'automation_editor.sidebar.list_tip_link_text' | translate }}</a>.</p>
</div>
