<dp-editor-panel-domain-list-selector></dp-editor-panel-domain-list-selector>
<p class="title margin-t-25">{{ 'automation_editor.sidebar.push_title' | translate }}</p>
<form name="pushForm" class="form--container" id="form-panel-push" novalidate>
    <!-- push name -->
  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.Push_name' | translate }}</label>
    <input type="text" class="input--text" ng-model="selectedComponent.name" ng-required="pushForm.name.$dirty || selectedComponent.touched" name="name" id="name_property" ng-class="{'hasErrors': pushForm.name.$invalid}" maxlength="100" ng-keyup="inputKeyup($event, 'name')" ng-blur="emailNameOnBlur()"  ng-disabled="isReadOnly();" />
    <span class="read-only--tooltip" ng-show="!canEdit();">{{getReadOnlyLabel();}}</span>
    <div class="error-messages--container" ng-show="showInputErrors.name">
      <div class="error">{{'automation_editor.sidebar.campaign_name_error' | translate }}</div>
    </div>
  </div>
  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.push_message_title' | translate }}</label>
    <div class="column-wrapper content-wrapper" ng-class="{'hasErrors': pushForm.pushMessageTitle.$invalid}" >
      <input type="text" class="form-control input--text"
        name="pushMessageTitle"
        id="pushMessageTitle"
        ng-model="selectedComponent.pushMessageTitle"
        ng-required="pushForm.pushMessageTitle.$dirty || selectedComponent.touched"
        maxlength="50"
        ng-change="charactersCountTitleChange(selectedComponent.pushMessageTitle);"
        ng-disabled="isReadOnly();"/>
        <div class="action-wrapper">
          <span class="text--lightgrey text--tiny text-bold width-full">{{ 'automation_editor.sidebar.characters' | translate }} {{ charactersCountTitle }}/50.</span>
          <dp-editor-panel-emojis-addons></dp-editor-panel-emojis-addons>
        </div>
    </div>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="pushForm.pushMessageTitle.$error" class="error-messages--container">
      <div ng-message="required" class="error">{{ 'validation_messages.required' | translate}}</div>
      <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
    </div>
  </div>
  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.push_message_body' | translate }}</label>
    <!-- <span class="span--push">{{ 'automation_editor.sidebar.push_message_body_desc' | translate }}</span> -->

    <div class="column-wrapper content-wrapper">
       
      <textarea type="text" class="textarea input--text width-full"
        name="pushMessageBody"
        id="pushMessageBody"
        ng-model="selectedComponent.pushMessageBody"
        ng-change="charactersCountBodyChange(selectedComponent.pushMessageBody);"
        ng-class="{ 'hasErrors': pushForm.pushMessageBody.$invalid }"
        ng-required="pushForm.pushMessageBody.$dirty || selectedComponent.touched"
        maxlength="150"
        ng-disabled="isReadOnly();">
      </textarea>
      <div class="action-wrapper">
        <span class="text--lightgrey text--tiny text-bold width-full">{{ 'automation_editor.sidebar.characters' | translate }} {{ charactersCountBody }}/150.</span>
        <dp-editor-panel-emojis-addons></dp-editor-panel-emojis-addons>
      </div>
    </div>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="pushForm.pushMessageBody.$error" class="error-messages--container">
      <div ng-message="required" class="error">{{ 'validation_messages.required' | translate}}</div>
      <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
    </div>
  </div>
  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.push_message_on_click_link' | translate }}</label>
    <input type="text" class="input--text"
           name="pushMessageOnClickLink"
           ng-model="selectedComponent.pushMessageOnClickLink"
           ng-class="{ 'hasErrors': pushForm.pushMessageOnClickLink.$invalid }"
           ng-maxlength="300"
           ng-pattern="validationLinkUrl"
           ng-change="clearErrorsOnEmptyLink();"
           ng-disabled="isReadOnly();"/>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="pushForm.pushMessageOnClickLink.$error" class="error-messages--container">
      <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
      <div ng-show="invalidUrl" class="error">{{ 'validation_messages.url_pattern_error_message' | translate }}</div>
      <div ng-show="invalidHttpsStart" class="error">{{ 'validation_messages.https_url_pattern_error_message' | translate }}</div>
    </div>
  </div>
  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.push_uploader_title' | translate }}</label>
      <div class="container-uploader" id="containerUploader">
        <div class="panel-uploader">
          <div class="progress-bar" ng-show="statusUploader === 'pending'">
            <progress value="{{progressCounter}}" max="100" ></progress>
          </div>
          <button ng-disabled="isReadOnly();" class="button button--error" ng-show="statusUploader === 'error'" ng-click="openSelectFileModal()">{{ 'automation_editor.sidebar.push_uploader_retry_button' | translate }}</button>
          <div ng-show="selectedComponent.imageSrc || selectedComponent.pushMessageImageUrl" class="dp-library">
            <button ng-disabled="isReadOnly();" class="button button--error" ng-click="clearUploader()">
              <span class="dpicon iconapp-trash-bin" style="font-size: 27px;vertical-align: sub;"></span>
            </button>
          </div>
        </div>
        <div ng-click="openSelectFileModal()">
          <div ng-if="!selectedComponent.imageSrc  && !selectedComponent.pushMessageImageUrl" class="init-image-box">
                  <img src="../../images/automation-editor-upload-html.svg">
                  {{ 'automation_editor.sidebar.push_uploader_drag_title' | translate }}
                  <button class="button button--primary" ng-disabled="isReadOnly();">{{ 'automation_editor.sidebar.push_uploader_button' | translate }}</button>
          </div>
          <img 
            ng-if="selectedComponent.imageSrc || selectedComponent.pushMessageImageUrl"
            ng-src="{{selectedComponent.pushMessageImageUrl || selectedComponent.imageSrc}}" 
          />
        </div>
      </div>
      <input hidden 
        type="file" 
        id="fileInput" 
        accept="{{acceptedFileTypes}}"
        ng-disabled="isReadOnly();"
      >
  </div>
</form>
