<div ng-if="hasExcededCredits && hasPushNotificationV2Enabled" class="dp-library">
  <div class="margin-b-20 dp-wrap-message dp-wrap-warning">
    <span style="display: none;" class="dp-message-icon"></span>
    <div class="dp-content-message">
      <p ng-bind-html="'automation_editor.sidebar.push_message_excess_warning' | translate"></p>
      <a ng-href="#" class="dp-message-link" ng-click="hideExcededCreditsMessage(); $event.preve;">
        {{'automation_editor.sidebar.push_message_excess_warning_agreed' | translate }}
      </a>
    </div>
  </div>
</div>

<h4>{{ 'automation_editor.sidebar.push_title' | translate }}</h4>

<div class="margin-t-20">
  <dp-editor-panel-domain-list-selector></dp-editor-panel-domain-list-selector>
  <!-- <div ng-if="selectedComponent.domains.length === 0" class="dp-library">
    <div class="margin-t-10 dp-wrap-message dp-wrap-warning">

      <div class="dp-content-message">
        <p>
          la seleccion de dominios es requerida
        </p>
      </div>
    </div>
  </div> -->
</div>


<form name="pushForm" class="form--container awa-form margin-t-25" id="form-panel-push" novalidate>
    <!-- push name -->
  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.Push_name' | translate }}:</label>
    <input type="text" class="input--text" ng-model="selectedComponent.name" ng-required="pushForm.name.$dirty || selectedComponent.touched" name="name" id="name_property" ng-class="{'hasErrors': pushForm.name.$invalid}" maxlength="100" ng-keyup="inputKeyup($event, 'name')" ng-blur="emailNameOnBlur()"  ng-disabled="isReadOnly();" />
    <span class="read-only--tooltip" ng-show="!canEdit();">{{getReadOnlyLabel();}}</span>
    <div class="error-messages--container" ng-show="showInputErrors.name">
      <div class="error">{{'automation_editor.sidebar.campaign_name_error' | translate }}</div>
    </div>
  </div>

  <label class="label label--panel margin-t-20">{{ 'automation_editor.sidebar.push_message' | translate }}</label>

  <div class="input--group margin-t-10">
    <label class="label label--panel">{{ 'automation_editor.sidebar.push_message_title' | translate }}:</label>
    <div class="column-wrapper content-wrapper" ng-class="{'hasErrors': pushForm.pushMessageTitle.$invalid}" >
      <input type="text" class="form-control input--text"
        name="pushMessageTitle"
        id="pushMessageTitle"
        ng-model="selectedComponent.pushMessageTitle"
        ng-required="pushForm.pushMessageTitle.$dirty || selectedComponent.touched"
        maxlength="50"
        ng-change="charactersCountTitleChange(selectedComponent.pushMessageTitle);"
        ng-disabled="isReadOnly();"/>
        <div class="action-wrapper">
          <span class="text--lightgrey text--tiny text-bold width-full">{{ 'automation_editor.sidebar.characters' | translate }} {{ charactersCountTitle }}/50.</span>
          <dp-editor-panel-custom-fields-addons show-search ng-if="hasPushNotificationV2Enabled"></dp-editor-panel-custom-fields-addons>
          <dp-editor-panel-emojis-addons></dp-editor-panel-emojis-addons>
        </div>
    </div>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="pushForm.pushMessageTitle.$error" class="error-messages--container">
      <div ng-message="required" class="error">{{ 'validation_messages.required' | translate}}</div>
      <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
    </div>
  </div>
  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.push_message_body' | translate }}:</label>
    <div class="column-wrapper content-wrapper">
       
      <textarea type="text" class="textarea input--text width-full"
        name="pushMessageBody"
        id="pushMessageBody"
        ng-model="selectedComponent.pushMessageBody"
        ng-change="charactersCountBodyChange(selectedComponent.pushMessageBody);"
        ng-class="{ 'hasErrors': pushForm.pushMessageBody.$invalid }"
        ng-required="pushForm.pushMessageBody.$dirty || selectedComponent.touched"
        maxlength="150"
        ng-disabled="isReadOnly();">
      </textarea>
      <div class="action-wrapper">
        <span class="text--lightgrey text--tiny text-bold width-full">{{ 'automation_editor.sidebar.characters' | translate }} {{ charactersCountBody }}/150.</span>
        <dp-editor-panel-custom-fields-addons show-search ng-if="hasPushNotificationV2Enabled"></dp-editor-panel-custom-fields-addons>
        <dp-editor-panel-emojis-addons></dp-editor-panel-emojis-addons>
      </div>
    </div>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="pushForm.pushMessageBody.$error" class="error-messages--container">
      <div ng-message="required" class="error">{{ 'validation_messages.required' | translate}}</div>
      <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
    </div>
  </div>

  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.push_uploader_title' | translate }}</label>
      <div class="container-uploader" id="containerUploader">
        <div class="panel-uploader">
          <div class="progress-bar" ng-show="statusUploader === 'pending'">
            <progress value="{{progressCounter}}" max="100" ></progress>
          </div>
          <button ng-disabled="isReadOnly();" class="button button--error" ng-show="statusUploader === 'error'" ng-click="openSelectFileModal()">{{ 'automation_editor.sidebar.push_uploader_retry_button' | translate }}</button>
          <div ng-show="selectedComponent.imageSrc || selectedComponent.pushMessageImageUrl" class="dp-library">
            <button ng-disabled="isReadOnly();" class="button button--error" ng-click="clearUploader()">
              <span class="dpicon iconapp-trash-bin" style="font-size: 27px;vertical-align: sub;"></span>
            </button>
          </div>
        </div>
        <div ng-click="openSelectFileModal()">
          <div ng-if="!selectedComponent.imageSrc  && !selectedComponent.pushMessageImageUrl" class="init-image-box">
                  <img src="../../images/automation-editor-upload-html.svg">
                  {{ 'automation_editor.sidebar.push_uploader_drag_title' | translate }}
                  <button class="button button--primary" ng-disabled="isReadOnly();">{{ 'automation_editor.sidebar.push_uploader_button' | translate }}</button>
          </div>
          <img 
            ng-if="selectedComponent.imageSrc || selectedComponent.pushMessageImageUrl"
            ng-src="{{selectedComponent.pushMessageImageUrl || selectedComponent.imageSrc}}" 
          />
        </div>
      </div>
      <input hidden 
        type="file" 
        id="fileInput" 
        accept="{{acceptedFileTypes}}"
        ng-disabled="isReadOnly();"
      >
  </div>
  <div ng-if="selectedComponent.pushMessageImageUrl.length > 0 && hasPushNotificationV2Enabled" class="input--group dp-library">
    <label class="dp-label-checkbox">
      <input type="checkbox" 
        ng-checked="selectedComponent.pushPreferLargeImage" 
        ng-model="selectedComponent.pushPreferLargeImage">
      <span>{{ 'automation_editor.sidebar.push_image_size' | translate }}</span>
      <div class="dp-tooltip-container">
        <span class="ms-icon icon-info-icon"></span>
        <div class="dp-tooltip-top dp-tooltip-top-right">
          <span>{{ 'automation_editor.sidebar.push_image_size_tip' | translate }}</span>
        </div>
      </div>
    </label>
  </div>

  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.push_message_on_click_link' | translate }}</label>
    <input type="text" class="input--text"
      name="pushMessageOnClickLink"
      ng-model="selectedComponent.pushMessageOnClickLink"
      ng-class="{ 'hasErrors': pushForm.pushMessageOnClickLink.$invalid }"
      ng-maxlength="300"
      ng-pattern="/^https?:\/\/[^\s]+$/"
      ng-disabled="isReadOnly();"/>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="pushForm.pushMessageOnClickLink.$error" class="error-messages--container">
      <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
      <div ng-message="pattern" class="error">{{ 'validation_messages.url_pattern_error_message' | translate}}</div>
    </div>
  </div>

  <div class="dp-library" ng-if="hasPushNotificationV2Enabled">
    <div class="flex-grid-v-center--s-between">
      <strong>{{ 'automation_editor.sidebar.push_button_section' | translate }}</strong>
      <div class="dp-tooltip-container">
        <span class="ms-icon icon-info-icon"></span>
        <div class="dp-tooltip-top dp-tooltip-top-right">
          <span>{{ 'automation_editor.sidebar.push_button_section_info' | translate }}</span>
        </div>
      </div>
    </div>
    <div class="margin-t-30" ng-repeat="(index, action) in selectedComponent.pushActions">
      <div class="box-type--container relative">
        <div class="actions-element--container actions-element-top-position disable--toggler">
          <dp-editor-delete-component on-delete-component="removePushAction(index)"></dp-editor-delete-component>
        </div>
        <div class="input--group--alt">
          <!-- Verion emojis en linea
          <label class="label label--panel">{{ 'automation_editor.sidebar.push_button_section_text' | translate : {index:index +1 }  }}</label>
          <div class="input-wrapper content-wrapper"  ng-class="{'hasErrors': pushForm.labelAction{{index}}.$invalid}" >
            <input type="text" class="form-control input--text"
              name="labelAction{{index}}"
              ng-model="selectedComponent.pushActions[index].label"
              ng-class="{ 'hasErrors': pushForm.labelAction{{index}}.$invalid }"
              ng-maxlength="50"
              placeholder="{{ 'automation_editor.sidebar.push_button_section_text_placeholder' | translate }}"
              ng-disabled="isReadOnly();"/>
            <dp-editor-panel-emojis-addons></dp-editor-panel-emojis-addons> 
          </div> -->
          <div class="dp-rowflex">
            <div class="col-md-9">
              <label class="label label--panel">{{ 'automation_editor.sidebar.push_button_section_text' | translate : {index:index +1 }  }}</label>
              <input type="text" class="input--text"
                name="labelAction{{index}}"
                ng-model="selectedComponent.pushActions[index].label"
                ng-class="{ 'hasErrors': pushForm.labelAction{{index}}.$invalid }"
                ng-maxlength="15"
                placeholder="{{ 'automation_editor.sidebar.push_button_section_text_placeholder' | translate }}"
                ng-disabled="isReadOnly();"/>
              <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
              <div ng-messages="pushForm['labelAction' + index].$error" class="error-messages--container">
                <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
              </div>
            </div>
            <div class="col-md-3">
              <label class="label label--panel">{{ 'automation_editor.sidebar.push_button_section_icon' | translate }}</label>
              <dp-editor-dropdown
                class="dropdown dropdown--full dropdown-list-item--image"
                name="iconAction{{index}}"
                property="name"
                options="pushIconOptions"
                on-select-option="actionIconSelected(index, option)"
                value-selected="action.icon"
                label="getIconLabel(action)"
                ng-disabled="isReadOnly();">
              </dp-editor-dropdown>
            </div>
          </div>
        </div>
        <div class="input--group--alt">
          <label class="label label--panel">{{ 'automation_editor.sidebar.push_button_section_url' | translate : {index:index +1 } }}</label>
          <input type="text" class="input--text"
            name="urlAction{{index}}"
            ng-model="action.url"
            ng-class="{ 'hasErrors': pushForm.urlAction{{index}}.$invalid }"
            ng-maxlength="300"
            ng-pattern="/^https?:\/\/[^\s]+$/"
            placeholder="{{ 'automation_editor.sidebar.push_button_section_url_placeholder' | translate }}"
            ng-disabled="isReadOnly();"/>
            <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
            <div ng-messages="pushForm['urlAction' + index].$error" class="error-messages--container">
              <div ng-message="maxlength" class="error">{{ 'validation_messages.maxlength' | translate}}</div>
              <div ng-message="pattern" class="error">{{ 'validation_messages.url_pattern_error_message' | translate}}</div>
          </div>
        </div>
      </div>
    </div>

    <button ng-if="!selectedComponent.pushActions || selectedComponent.pushActions.length < 2"
      class="dp-button link-green margin-t-30"
      ng-click="addNewAction()"
      type="button">
      <strong>{{ 'automation_editor.sidebar.push_button_section_add_action' | translate }}</strong>
    </button>
  </div>
</form>
