<p class="title">{{ 'automation_editor.sidebar.whatsapp.title' | translate }}</p>
<form name="whatsappForm" class="form--container" ng-if="isLoaded" novalidate>

  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.whatsapp.name' | translate }}</label>
    <input type="text" class="input--text"
            ng-model="selectedComponent.name"
            ng-required="whatsappForm.name.$dirty"
            name="name"
            ng-class="{'hasErrors': whatsappForm.name.$invalid && whatsappForm.name.$dirty }"
            ng-blur="activateBlur();"
            maxlength="50"
            ng-disabled="isReadOnly()" />
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="whatsappForm.name.$error" class="error-messages--container">
      <div ng-message="required" class="error">{{ 'validation_messages.required' | translate }}</div>
    </div>
  </div>

  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.whatsapp.room_select' | translate }}</label>
    <dp-editor-dropdown class="full" name="whatsapp_room_select"
      options="roomOptions"

      label="selectedComponent.room.name "
      on-select-option="onWhatsappRoomSelected(option, selectedComponent.field)"
      key-value="'id'"
      key-label="'name'"
      value-selected="selectedComponent.room.id"
      ng-disabled="isReadOnly();">
    </dp-editor-dropdown>

    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div class="error-messages--container" ng-if="roomOptions.length === 0">
      <div class="error">
      {{ 'automation_editor.sidebar.whatsapp_non_room_error' | translate }}
      <a ng-href="{{ conversationsLink }}">{{ 'automation_editor.sidebar.whatsapp_non_room_error_url_link' | translate }}</a>
      </div>
    </div>
  </div>

  <div class="input--group">
    <label class="label label--panel">{{ 'automation_editor.sidebar.whatsapp.phone_field' | translate }}</label>
    <input type="text" class="input--text"
      ng-model="selectedComponent.room.phoneNumber"
      name="roomPhoneNumber"
      ng-disabled="true" />
  </div>

  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.phone_type' | translate }}</label>
    <dp-editor-dropdown class="full" name="defineActions"
      options="phoneOptions"
      ng-class="{'placeholder': selectedComponent.field, 'hasError': test()}"
      label="selectedComponent.field ? selectedComponent.field.name : 'automation_editor.components.condition.conditionals.subscriber_information.label_field' | translate"
      on-select-option="onPhoneTypeSelected(option, selectedComponent.field)"
      key-value="'id'"
      key-label="'name'"
      value-selected="selectedComponent.field.id"
      ng-disabled="isReadOnly() || !hasRoomSelected">
    </dp-editor-dropdown>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div class="error-messages--container" ng-if="phoneOptions.length === 0">
      <div class="error">
      {{ 'automation_editor.sidebar.non_customs_phone_error' | translate }}
      <a href="/Lists/MasterCustomFields/">{{ 'automation_editor.sidebar.non_customs_error_link' | translate }}</a>
      </div>
    </div>
  </div>


  <div class="input--group">
    <label class="label label--panel">*{{ 'automation_editor.sidebar.whatsapp.template_select' | translate }}</label>
    <dp-editor-dropdown class="full" name="whatsapp_template_select"
      options="templateOptions"

      label="selectedComponent.template.name"
      on-select-option="onWhatsappTemplateSelected(option, selectedComponent.field)"
      key-value="'id'"
      key-label="'name'"
      value-selected="selectedComponent.template.id"
      ng-disabled="isReadOnly() || !hasRoomSelected()">
    </dp-editor-dropdown>

    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div class="error-messages--container" ng-if="hasRoomSelected() && templateOptions.length === 0">
      <div class="error">
      {{ 'automation_editor.sidebar.whatsapp_non_template_error' | translate }}
      <a ng-href="{{ conversationsLink }}">{{ 'automation_editor.sidebar.whatsapp_non_template_error_url_link' | translate }}</a>
      </div>
    </div>
  </div>

  <iframe class="whatsapp-content" id="whatsapp_template_iframe"></iframe>

  <div ng-if="hasTemplateSelected() && headerVariables.length > 0 && (selectedComponent.template.headerType == 'TEXT' || selectedComponent.template.headerType == undefined)">
    <p class="title" >
      {{ 'automation_editor.sidebar.whatsapp.set_head_field' | translate }}
    </p>
    <div class="input--group" ng-repeat="variable in headerVariables">
      <label class="label label--panel">*{{ 'automation_editor.sidebar.whatsapp.variable' | translate }} <strong>{{</strong>{{variable.name}}<strong>}}</strong></label>
      <dp-editor-dropdown class="full"
        options="userFields"
        ng-class="{'placeholder': selectedComponent.field}"
        label="variable.field.id  ? getOptionLabel(variable.field.id) :  'automation_editor.components.condition.conditionals.subscriber_information.label_field' | translate"
        on-select-option="onVariableSelected(option, variable, whatsappForm)"
        key-value="'id'"
        key-label="'label'"
        value-selected="variable.field.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
    </div> 
  </div>

  <div ng-if="hasTemplateSelected() && selectedComponent.template.headerType != 'TEXT'">
    <p class="title" >
      {{ 'automation_editor.sidebar.whatsapp.set_head_file' | translate }}
    </p>
    <div class="input--group dp-library">
        <button class="dp-button button-medium ctaTertiary"
          ng-class="{'button--loading': statusUploader == 'pending'}"
          ng-click="openSelectFileModal()"
          ng-disabled="isReadOnly();">
          {{ 'automation_editor.sidebar.whatsapp.file_uploader_button' | translate }}
        </button>
        <input hidden 
          type="file" 
          id="wspfileInput" 
          accept="{{multimediaType.acceptedFileTypes}}"
          ng-disabled="isReadOnly();"
        >
        <div class="dp-temporal-message margin-t-15" ng-show="showWhatsappUploadFileResultMessage">
          <div class="dp-wrap-message dp-wrap-warning">
            <span class="dp-message-icon"></span>
            <div class="dp-content-message" ng-bind-html="sendWhatsappUploadFileResultMessageText"></div>
          </div>
        </div>
      </div>
  </div>

  <div ng-if="hasTemplateSelected() && bodyVariables.length > 0">
    <p class="title" >
      {{ 'automation_editor.sidebar.whatsapp.set_body_field' | translate }}
    </p>
    <div class="input--group" ng-repeat="variable in bodyVariables">
      <label class="label label--panel">*{{ 'automation_editor.sidebar.whatsapp.variable' | translate }} <strong>{{</strong>{{variable.name}}<strong>}}</strong></label>
      <dp-editor-dropdown class="full"
        options="userFields"
        ng-class="{'placeholder': selectedComponent.field}"
        label="variable.field.id ? getOptionLabel(variable.field.id) : 'automation_editor.components.condition.conditionals.subscriber_information.label_field' | translate"
        on-select-option="onVariableSelected(option, variable, whatsappForm)"
        key-value="'id'"
        key-label="'label'"
        value-selected="variable.field.id"
        ng-disabled="isReadOnly();">
      </dp-editor-dropdown>
    </div>
  </div>

  <div class="input--group  dp-library">
    <label class="label label--panel">{{ 'automation_editor.sidebar.whatsapp.whatsapp_test' | translate }}</label>
    <span class="span--sms">{{ 'automation_editor.sidebar.whatsapp.whatsapp_test_desc' | translate }}</span>
    <div class="display-flex">
      <input id="phone_whatsapp" type="tel" class="input--text"
        ng-model="selectedComponent.whatsappPhoneNumberTest"
        ng-required="whatsappForm.whatsappPhoneNumberTest.$dirty || selectedComponent.touched"
        name="whatsappPhoneNumberTest"
        ng-class="{'hasErrors': whatsappForm.whatsappPhoneNumberTest.$error && whatsappForm.whatsappPhoneNumberTest.$dirty || isSmsPhoneNumberTestInvalidByChangeCountry}"
        maxlength="160"
        ng-disabled="isReadOnly() || !hasTemplateSelected()"
        ng-change="changePhoneNumber(whatsappForm)" />
      <button class="button-test-sms button button--small button--primary"
        ng-class="{'button--spinner' : sendingWhatsappTest}"
        ng-disabled="whatsappForm.whatsappPhoneNumberTest.$error"
        ng-click="sendWhatsappTest(whatsappForm)">
        {{ 'automation_editor.sidebar.campaign_send_test_send_button' | translate }}
        <span class="icon-editor-saving hide"></span>
      </button>
    </div>
    <span class="read-only--tooltip" ng-show="isReadOnly();">{{ getReadOnlyLabel(); }}</span>
    <div ng-messages="whatsappForm.whatsappPhoneNumberTest.$error" class="error-messages--container">
      <div ng-message="variableRequired" class="error">{{ 'validation_messages.required_whatsapp_send_test' | translate }}</div>
      <div ng-message="genericPhone" class="error">{{ 'validation_messages.phone_generic_error' | translate }}</div>
      <div ng-message="isWhatsappPhoneNumberTestValid" class="error">{{ 'validation_messages.phone_pattern' | translate }}</div>
      <div ng-message="isWhatsappPhoneNumberTestInvalidTooShort" class="error">{{ 'validation_messages.phone_pattern_too_short' | translate }}</div>
      <div ng-message="isWhatsappPhoneNumberTestInvalidTooLong" class="error">{{ 'validation_messages.phone_pattern_too_long' | translate }}</div>
      <div ng-message="required" class="error">{{ 'validation_messages.required' | translate }}</div>
      <div ng-show="isWhatsappPhoneNumberTestInvalidByChangeCountry" class="error">{{ 'validation_messages.phone_pattern' | translate }}</div>
    </div>
  
    <div class="dp-temporal-message margin-t-15" ng-show="showWhatsappSendResultMessage">
      <div class="dp-wrap-message" ng-class="sendWhatsappMessageResultClass">
        <span class="dp-message-icon"></span>
        <div class="dp-content-message dp-content-full" ng-bind-html="sendWhatsappResultMessageText"></div>
      </div>
    </div>
  </div>

</form>
<div>
	<span class="icon-globo"></span>
	<p class="help-tip">
    <strong>{{ 'automation_editor.sidebar.whatsapp.help_tip' | translate }}</strong>
    <a ng-href="{{ 'automation_editor.sidebar.whatsapp.help_tip_link_url' | translate}}" class="link--default" target="_blank">{{ 'automation_editor.sidebar.whatsapp.help_tip_link' | translate }}</a>.</p>
</div>
