<div class="initial-step--container relative component" ng-class="{'is-error' : hasErrors() }">
  <span class="icon-pointer"></span>
  <p ng-if="!isInitialConditionComplete()" ng-bind-html="getFrequencySummaryFor(FREQUENCY_TYPE.UNDEFINED)"></p>
  <div ng-if="isInitialConditionComplete()">
    <p ng-if="component.sendType === SEND_TYPE.INMEDIATE" ng-bind-html="getFrequencySummaryFor(SEND_TYPE.INMEDIATE)"></p>
    <p ng-if="component.sendType === SEND_TYPE.SCHEDULED" ng-bind-html="getFrequencySummaryFor(SEND_TYPE.SCHEDULED)"></p>
    <p ng-if="component.frequency && component.frequency.type === FREQUENCY_TYPE.DAY_WEEK" ng-bind-html="getFrequencySummaryFor(FREQUENCY_TYPE.DAY_WEEK)"></p>
    <p ng-if="component.frequency && component.frequency.type === FREQUENCY_TYPE.DAY_MONTH" ng-bind-html="getFrequencySummaryFor(FREQUENCY_TYPE.DAY_MONTH)"></p>
    <p ng-if="component.frequency && component.frequency.type === FREQUENCY_TYPE.DAY_YEAR" ng-bind-html="getFrequencySummaryFor(FREQUENCY_TYPE.DAY_YEAR)"></p>
  </div>

  <div class="tip-help--container initial-condition" ng-show="!component.completed || component.hasStartDateExpired">
    <span class="icon-arrow-friendly"></span>
    <span class="tip-help" ng-bind-html="'automation_editor.components.initial_condition.push_notification.tip_initial_condition' | translate"></span>
  </div>
</div>

<dp-editor-new-step component="component"></dp-editor-new-step>
