<div id="modal" class="modal modal--is-dialog">
  <div class="modal__wrapper">
    <a class="icon-close modal--do-close" data-dismiss="modal" ng-click="close()"></a>
    <div class="modal__content">
      <h1>{{ 'modal_automation_initialization_unexpected_error.title' | translate }}</h1>
      <p ng-bind-html="'modal_automation_initialization_unexpected_error.description' | translate"></p>
    </div>
    <div class="modal__action-btn">
      <a class="button button--primary button--small" ng-click="close()" target="_self">Ok</a>
    </div>
  </div>
</div>
