<div id="modal-pause" class="modal--pause" click-outside="close()">
  <p class="text--small">
    <strong
      >{{ 'automation_editor.pause_confirmation_modal.title' | translate
      }}</strong
    >
  </p>
  <p class="text--small alt">
    {{ 'automation_editor.pause_confirmation_modal.description' | translate }}
  </p>
  <p class="text--tiny text--bold text--uppercase alt">
    <a ng-click="close()"
      >{{ 'automation_editor.pause_confirmation_modal.ok' | translate }}</a
    >
  </p>
</div>
