<div class="grayPanel-box grayPanel-box-relative automation-box--container sms-details--container">
  <div class="reports-elements-container">
    <h2 id="task_name_title" class="sectionBox-title-secondary">{{'ScheduledTask_Sms_Title' | translate}}</h2>
    <p id="task_name_subtitle" class="task-section-subtitle">{{'ScheduledTask_Reports_Sms_subtitle' | translate}}</p>
    <hr />
    <div class="flex-two-columns flex">
      <div class="flex-two">
        <div class="openClickGraphic--container clean">
          <dpgraph c3config="donutGraphDataSms" type="'c3'" ng-if="loaded"></dpgraph>
          <div class="donut-data">

            <div class="percent-rect open">{{(smsData.delivered > 0)? smsData.deliveredPerc: '0.0' }} %</div>
            <span class="percent-text">{{(smsData.delivered > 0)?  smsData.delivered: 0}}</span><span class="percent-text-desc">{{'ScheduledTask_Reports_Reached_Subscriptors' | translate}} </span>

            <div class="percent-rect bounced">{{(smsData.undelivered > 0)? smsData.undeliveredPerc: '0.0' }} %</div>
            <span class="percent-text">{{smsData.undelivered? smsData.undelivered: 0}}</span><span class="percent-text-desc">{{'ScheduledTask_Reports_Not_Reached_Subscriptors' | translate}}</span>


          </div>
        </div>
      </div>
      <div class="flex-one openClickData--container">
        <h4 id="task_name_title">Resultados Totales</h4>
        <h2>{{smsData.total}}</h2>
        <p class="task-section-subtitle text-descriptor">{{'ScheduledTask_Reports_Total_Sms' | translate}}</p>
        <h2 class="sectionBox-title-secondary">{{smsData.delivered}}</h2>
        <p class="task-section-subtitle text-descriptor">{{'ScheduledTask_Reports_Reached_Subscriptors' | translate}}</p>
        <h2 class="sectionBox-title-secondary">{{smsData.undelivered}}</h2>
        <p class="task-section-subtitle text-descriptor">{{'ScheduledTask_Reports_Not_Reached_Subscriptors' | translate}}</p>
      </div>
    </div>
    <div class="margin-b-20 margin-t-20">
      <h4 class="text--darkgrey margin-b-20 text--base">{{'ScheduledTask_Reports_Sms_Country_Title' | translate}}</h4>
      <div class="grid-display grid-template-columns-table">
        <div><span class="text--darkgrey text--bold">{{'grid.headers.country' | translate}}</span></div>
        <div><span class="text--darkgrey text--bold">{{'ScheduledTask_Reports_Total_Sms' | translate}}</span></div>
        <div><span class="text--darkgrey text--bold">{{'ScheduledTask_Reports_Reached_Subscriptors' | translate}}</span></div>
        <div><span class="text--darkgrey text--bold">{{'ScheduledTask_Reports_Not_Reached_Subscriptors' | translate}}</span></div>
        <div class="row border-b-grey" ng-repeat="item in itemsSmsByCountry">
          <div>{{item.CountryName}}</div>
          <div>{{item.Total}}</div>
          <div>{{item.Delivered}}</div>
          <div>{{item.Undeliverd}}</div>
        </div>
      </div>
    </div>
    <div class="flex-two text--right">
      <a ng-click="createReportandRedirect()">{{'ScheduledTask_Reports_Sms_Link' | translate}}</a>
    </div>
  </div>
</div>
