<div id="modal-stop" class="modal--pause" click-outside="close()">
  <p class="text--small">
    <strong>{{ 'automation_editor.stop_modal.title' | translate }}</strong>
  </p>
  <p
    class="text--small"
    ng-bind-html="'automation_editor.stop_modal.description_one' | translate"
  ></p>
  <!-- We are hiding this text until it's implemented -->
  <!--p class="text--small alt">{{ 'automation_editor.stop_modal.description_two' | translate }}</p-->
  <p
    class="text--small alt"
    ng-bind-html="'automation_editor.stop_modal.description_three' | translate"
  ></p>
  <p class="text--small alt">
    {{ 'automation_editor.stop_modal.description_four' | translate }}
  </p>
  <p class="text--tiny text--bold text--uppercase">
    <a class="action" ng-click="close(true)"
      >{{ 'automation_editor.stop_modal.stop' | translate }}</a
    >
    |
    <a ng-click="close()"
      >{{ 'automation_editor.stop_modal.cancel' | translate }}</a
    >
  </p>
</div>
