<div class="column--left">
  <div class="breadCrumb flex-grid-v-center" dp-editor-breadcrumb></div>
</div>
<div
  class="column--right"
  ng-if="listSelectionState === LIST_SELECTION_STATE.NONE && !showTemplates && !showTinyEditor && !showImportHtml && !showCreateListTemplate && !showAutomationTypes"
>
  <dp-editor-save></dp-editor-save>
  <dp-editor-undoredo></dp-editor-undoredo>
  <dp-editor-warning></dp-editor-warning>
</div>
<div class="column--right" ng-if="showTemplates">
  <span class="tip-help"
    >{{ 'automation_editor.header.tip_templates' | translate }}
    <span class="icon-arrow-friendly"></span
  ></span>
  <button
    class="button button--small button-outline--primary"
    ng-click="skipTemplateSelection()"
  >
    {{ 'automation_editor.buttons.skip_selection' | translate }}
  </button>
</div>
