<div
  id="mapping-panel"
  class="grayPanel-box grayPanel-controlPanel-box grayPanelPadding-box"
  ng-show="miTienda.connected && miTienda.showMapping"
>
  <div>
    <div class="authentication-container connected">
      <div>
        <span class="control-panel-section-title"
          >{{ 'miTienda_integration.mapping.title' | translate }}</span
        >
        <span class="control-panel-section-subtitle"
          >{{ 'miTienda_integration.mapping.subtitle' | translate }}</span
        >
      </div>
    </div>
    <hr class="full" style="width: calc(100% + 40px)" />
    <p class="integration-information-text">
      {{ 'miTienda_integration.mapping.selected_data_entity' | translate }}:
      <strong>{{ miTienda.selectedEntity.DisplayName }}</strong>
    </p>
    <p class="integration-information-text">
      {{ 'miTienda_integration.mapping.selected_subscriber_list' | translate }}:
      <strong>{{ miTienda.selectedList.ListName }}</strong>
    </p>
    <div class="mapping-container">
      <div ng-repeat="field in miTienda.miTiendaFields" dp-on-finish-ng-repeat>
        <div class="grayPanel-box flex-grid">
          <div>
            <p>
              {{ 'miTienda_integration.mapping.data_entity_field' | translate
              }}: <b>{{ miTienda.getFiledName(field.Name) }}</b>
            </p>
          </div>
          <div>
            <select
              id="dd-userFields{{$index}}"
              name="select-field{{$index}}"
              ng-model="field.idDopplerField"
              property="name"
              id-value="idField"
              ng-options="field.idField as field.name for field in miTienda.userFields  | filter:miTienda.fieldFilter(field.idDopplerField, field.DopplerFieldTypeId)"
              ng-click="bmwCrm.errorMessage=''"
              class="selector field-selector"
              ng-required="true"
              ng-change="miTienda.fieldChange($index, field.idDopplerField)"
            >
              <option value="" disabled="disabled">
                {{'miTienda_integration.mapping.select_field_placeholder' |
                translate}}
              </option>
            </select>
          </div>
        </div>
        <div
          class="createCustomField-box"
          ng-show="$index == miTienda.newField.index"
        >
          <input
            type="text"
            class="name"
            id="Name"
            name="Name"
            value=""
            ng-model="miTienda.newField.name"
            maxlength="50"
            ng-click="miTienda.newField.error=''"
          />
          <select
            id="dd-fieldTypes{{$index}}"
            name="select-field-type{{$index}}"
            ng-model="miTienda.newField.dataType"
            ng-options="type.id as type.name for type in miTienda.fieldTypes"
            class="selector customFieldTypeDropDown"
            ng-required="true"
            ng-disabled="true"
          ></select>
          <div class="visibility-container">
            <div class="radio">
              <input
                type="radio"
                id="is-public{{$index}}"
                formControlName="mode{{$index}}"
                ng-model="miTienda.newField.isPrivate"
                value="false"
                style="opacity: unset"
              />
            </div>
            <label for="is-public{{$index}}"
              >{{'miTienda_integration.mapping.new_field.public_opt' |
              translate}}</label
            >
            <div class="radio">
              <input
                type="radio"
                id="is-private{{$index}}"
                formControlName="mode{{$index}}"
                ng-model="miTienda.newField.isPrivate"
                value="true"
                style="opacity: unset"
              />
            </div>
            <label for="is-private{{$index}}"
              >{{'miTienda_integration.mapping.new_field.private_opt' |
              translate}}</label
            >
          </div>
          <div
            class="validationTooltip-container"
            ng-show="miTienda.newField.error"
          >
            <span class="validationTooltip-image"></span>
            <span class="validation-tooltip"
              >{{ miTienda.newField.error }}</span
            >
          </div>
          <input
            type="submit"
            value="{{'miTienda_integration.mapping.new_field.button' | translate}}"
            class="main_buttons_green_small submit"
            ng-click="miTienda.createField($index)"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="dp-library margin-t-20 margin-b-20"
    ng-show="!!miTienda.errorMessage.length"
  >
    <div
      id="messageBar"
      class="col-md-12 m-b-12 dp-wrap-message dp-wrap-cancel"
    >
      <span class="dp-message-icon"></span>
      <div class="dp-content-message dp-content-full">
        <span>{{ miTienda.errorMessage }}</span>
      </div>
    </div>
  </div>
  <div class="nav-button-bar flex-grid-v-center--s-between">
    <button ng-click="miTienda.goBack()" class="button button--alternative">
      {{ 'miTienda_integration.mapping.back' | translate }}
    </button>
    <button
      ng-class="{'button--spinner' : miTienda.isMapping}"
      ng-click="miTienda.mapFields()"
      class="button button--primary"
    >
      {{ 'miTienda_integration.connected.synchronize' | translate }}
      <span class="icon-editor-saving hide"></span>
    </button>
  </div>
</div>
