<div class="component">
  <div class="dp-tooltip-top">
    <span ng-bind-html="'automation_editor.canvas.goto_tooltip_infinite_flow_generation' | translate">
    </span>
  </div>

  <div class="uid-label-component">{{component.uid}}</div>
  <img class="image-complete" src="/../images/automation-push_notification.svg" />
  <img class="image-incomplete" src="/../images/automation-push_notification-grey.svg" />
  <p class="container-name">
    <span ng-show="!component.pushMessageTitle && !component.pushMessageBody" ng-bind-html="'automation_editor.canvas.push_placeholder' | translate"></span>
    <span ng-show="component.pushMessageTitle || component.pushMessageBody">
      {{ 'automation_editor.canvas.push_title_preview' | translate }}
      <span ng-if="!component.pushMessageTitle" class="brackets">[[[...]]]</span>
      <strong ng-if="component.pushMessageTitle">{{ component.pushMessageTitle }}</strong>
      <br>
      <br>
      {{ 'automation_editor.canvas.push_body_preview' | translate }}
      <span ng-if="!component.pushMessageBody" class="brackets">[[[...]]]</span>
      <strong ng-if="component.pushMessageBody">{{ component.pushMessageBody }}</strong>
    </span>
  </p>
  <p class="container-name name">
    <strong><ellipsis-with-tooltip text="component.name" css-class="multiline medium" multi-line="true"></ellipsis-with-tooltip></strong>
  </p>
  <div class="actions-element--container">
    <dp-editor-delete-component on-delete-component="$parent.removeComponent(component)"></dp-editor-delete-component>
  </div>
</div>
<dp-editor-new-step component="component" branch="branch"></dp-editor-new-step>
