<div class="component">

  <div class="dp-tooltip-top">
    <span ng-bind-html="'automation_editor.canvas.goto_tooltip_infinite_flow_generation' | translate">
    </span>
  </div>

  <div class="uid-label-component">{{component.uid}}</div>
  <img class="image-complete" src="/../images/automation-whatsapp.svg" />
  <img class="image-incomplete" src="/../images/automation-whatsapp-grey.svg" />
  <p class="container-name">
    <span ng-show="!component.room.name || !component.template.name" ng-bind-html="'automation_editor.canvas.whatsapp_placeholder' | translate"></span>
    <span ng-show="component.room.name && component.template.name" >
      {{ 'automation_editor.canvas.whatsapp'  | translate }}
      <strong>{{ component.template.name }}</strong>
    </span>
  </p>

  <p class="container-name name" ng-if="!showDeleteWarning">
    <strong><ellipsis-with-tooltip text="component.name" css-class="multiline medium" multi-line="true"></ellipsis-with-tooltip></strong>
  </p>
  <div class="actions-element--container">
    <dp-editor-delete-component on-delete-component="$parent.removeComponent(component)"></dp-editor-delete-component>
  </div>
</div>
<dp-editor-new-step component="component" branch="branch"></dp-editor-new-step>


