<!--BMW CRM AUTHENTICATION-->
<div
  ng-include="'angularjs/partials/controlPanel/bmwCrmIntegration/bmwCrmAuthentication.html'"
></div>

<!--BMW CRM CONFIGURATION-->
<div
  ng-include="'angularjs/partials/controlPanel/bmwCrmIntegration/bmwCrmConfiguration.html'"
></div>

<!--BMW CRM CAMPAIGNS-->
<div
  ng-include="'angularjs/partials/controlPanel/bmwCrmIntegration/bmwCrmCampaigns.html'"
></div>

<!--BMW CRM MAPPING-->
<div
  ng-include="'angularjs/partials/controlPanel/bmwCrmIntegration/bmwCrmMapping.html'"
></div>
