<!--MAGENTO STATUS-->
<div ng-include="'angularjs/partials/controlPanel/magentoIntegration/magentoStatus.html'"></div>

<!--MAGENTO AUTHENTICATION-->
<div ng-include="'angularjs/partials/controlPanel/magentoIntegration/magentoAuthentication.html'"></div>

<!--MAGENTO CONFIGURATION-->
<div ng-include="'angularjs/partials/controlPanel/magentoIntegration/magentoConfiguration.html'"></div>

<!--MAGENTO RFM-->
<div ng-include="'angularjs/partials/controlPanel/magentoIntegration/magentoRFM.html'"></div>

<!--MAGENTO MAPPING-->
<div ng-include="'angularjs/partials/controlPanel/magentoIntegration/magentoMapping.html'"></div>
