<!--TIENDANUBE AUTHENTICATION-->
<div
  ng-include="'angularjs/partials/controlPanel/tiendanubeIntegration/tiendanubeAuthentication.html'"
></div>

<!--TIENDANUBE CONFIGURATION-->
<div
  ng-include="'angularjs/partials/controlPanel/tiendanubeIntegration/tiendanubeConfiguration.html'"
></div>

<!--TIENDANUBE RFM-->
<div
  ng-include="'angularjs/partials/controlPanel/tiendanubeIntegration/tiendanubeRFM.html'"
></div>

<!--TIENDANUBE MAPPING-->
<div
  ng-include="'angularjs/partials/controlPanel/tiendanubeIntegration/tiendanubeMapping.html'"
></div>
