<div class="list-selection--panel">
  <label class="label label--panel">
     {{ selectedComponent.domains.length === 0 ? 'automation_editor.sidebar.Domains_Select' : 'automation_editor.sidebar.Domains_Selected' | translate }}
  </label>

  <div class="selected-list alt disable--toggler" ng-if="selectedComponent.domains.length">
    <div ng-repeat="item in selectedComponent.domains">
      <span class="icon-check"></span>
      <span class="name">{{ item.Domain }}</span>
    </div>
  </div>

  <button
    ng-click="toggleDomainsSelection(DOMAINS_SELECTION_STATE.SHOWING)"
    class="button button--small button--primary"
    ng-disabled="isReadOnly()">
    {{ selectedComponent.domains.length ? 'automation_editor.sidebar.Domains_replace_button' : 'automation_editor.sidebar.Domains_select_button' | translate }}
  </button>
</div>