<div class="item dp-library" ng-if="listSelectionState === LIST_SELECTION_STATE.NONE && !showTinyEditor">
  <button class="dp-button button--small button-outline--primary" ng-click="saveAndRedirect('/Automation/Automation/AutomationApp/');">{{ 'automation_editor.buttons.exit' | translate }}</button>
  <div class="right display-flex">
    <span ng-show="rootComponent.state !== AUTOMATION_STATE.ACTIVE && rootComponent.state !== AUTOMATION_STATE.PAUSED && isFlowComplete() !== AUTOMATION_COMPLETED_STATE.COMPLETED || hasNotSmsCredits()" class="tip-help"
          ng-class="{'warning': isFlowComplete() === AUTOMATION_COMPLETED_STATE.COMPLETE_WITH_WARNINGS && rootComponent.state !== AUTOMATION_STATE.ACTIVE, 'error': hasErrors() }">
          <span ng-bind-html="getAutomationTipLabel()"></span>
          <span class="icon-arrow-friendly"></span>
    </span>
    <button class="dp-button button--small button-outline--red button--space"
            ng-show="rootComponent.state === AUTOMATION_STATE.ACTIVE || rootComponent.state === AUTOMATION_STATE.PAUSED"
            ng-click="stopCampaign();">{{ 'automation_editor.buttons.stop_campaign' | translate }}</button>
    <button class="dp-button button--small primary-green"
            ng-class="{'button--warning': isFlowComplete() === AUTOMATION_COMPLETED_STATE.COMPLETE_WITH_WARNINGS, 'button--error': hasErrors(), 'button--loading': isProcessing() }"
            ng-show="rootComponent.state !== AUTOMATION_STATE.ACTIVE" ng-disabled="isFlowComplete() === AUTOMATION_COMPLETED_STATE.INCOMPLETE || hasErrors() || hasNotSmsCredits()"
            ng-click="startCampaignWithDynamicCheck();">{{ getAutomationBtnLabel() }}</button>
    <button class="dp-button button--small button--error"
            ng-show="rootComponent.state === AUTOMATION_STATE.ACTIVE"
            ng-click="pauseCampaign();">{{ 'automation_editor.buttons.pause_campaign' | translate }}</button>
  </div>
</div>
