<section class="background--white section--grid-empty section--content" ng-if="gridModel.isEmptyGrid">
	<h2>{{ 'automation_editor.Domains_grid.empty_title' | translate }}</h2>
	<p>{{ 'automation_editor.Domains_grid.empty_description' | translate }}</p>
</section>
<section class="section--content section--default background--white dp-library" id="editorDomainsGrid" ng-if="!gridModel.isEmptyGrid">
	<div class="dp-library">
		<header class="hero-banner">
			<div class="dp-container">
				<div class="dp-rowflex">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<h2>{{ 'automation_editor.Domains_grid.scheduled_title' | translate }}</h2>
					</div>
					<div class="col-sm-7">
						<p>{{ 'automation_editor.Domains_grid.scheduled_subtitle' | translate }}</p>
					</div>
				</div>
			</div>
		</header>
	</div>
	<section class="section--default ng-hide" ng-show="!gridModel.firstTimeLoad">
		<div class="wrapper wrapper--default">
			<table class="grid--default" infinite-scroll="gridModel.onScroll" infinite-scroll-element="editorDomainsGrid" infinite-scroll-distance="200" ng-show="gridModel.displayed.length > 0">
				<thead>
					<tr>
						<th class="col-md-1"><a><span class="icon-grid-check"></span></a></th>
						<th class="col-md-4">
							<a>{{ 'automation_editor.Domains_grid.header_domain_column' | translate }}</a>
						</th>
						<th class="col-md-2" ng-if="gridModel.displayed[0].EnabledContactsCount">
							<a>{{ 'automation_editor.lists_grid_headers.subscribers' | translate }}</a>
						</th>
					</tr>
				</thead>
				<tbody class="awa-form">
					<tr ng-repeat="row in gridModel.displayed">
						<td class="col-md-1">
							<label class="dp-label-checkbox" >
								<input type="checkbox" ng-change="selectRow(row)" ng-model="row.IsChecked"><span></span>
							</label>
						</td>
						<td>{{ row.Domain }}</td>
						<td class="col-md-2" ng-if="gridModel.displayed[0].EnabledContactsCount">{{ row.EnabledContactsCount || 0 }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
  <div class="loading--container components--center loading--container--editor-grid" ng-show="gridModel.firstTimeLoad">
      <span class="loading-icon"></span>
  </div>
</section>
<div class="dp-editor-footer">
  <div class="item">
    <button class="button button--small button-outline--primary" ng-click="backToEditor()">{{ 'automation_editor.buttons.back_to_editor' | translate }}</button>
    <div class="right">
      <button class="button button--small button--primary" ng-disabled="gridModel.isEmptyGrid || gridModel.selectedItems.length === 0" ng-click="saveSelectedItems();">{{ 'automation_editor.buttons.confirm_selection' | translate }}</button>
    </div>
  </div>
</div>
