<section class="background--white dp-library">
  <header class="hero-banner">
    <div class="dp-container">
      <div class="dp-rowflex padding-b-50">
        <div class="col-sm-6">
          <nav class="dp-breadcrumb">
            <ul>
              <li ng-if="totalTasks > 0">
                <button type="button" ng-click="automationViewNavegate(AUTOMATION_VIEW.GRID)" class="dp-button link-green">{{ 'automationTemplates.breadcrumb.level0' | translate }}</button>
              </li>
              <li>
                <button type="button" ng-click="automationViewNavegate(AUTOMATION_VIEW.TEMPLATES)" class="dp-button link-green">{{ 'automationTemplates.breadcrumb.level1' | translate }}</button>
              </li>
              <li>{{ 'automationTemplates.info.title' + idAutomationTemplateSelected | translate }}</li>
            </ul>
          </nav>
          <h1>{{ 'automationTemplates.info.title' + idAutomationTemplateSelected | translate }}</h1>
          <p ng-bind-html="'automationTemplates.templatePreview.description' + idAutomationTemplateSelected | translate"></p>
          <span class="dp-automation-template-items-allow">{{ 'automationTemplates.templatePreview.flowAllow' | translate }}</span>
          <ul class="dp-automation-template-preview-suggest-uses">
             <!-- define the quantity according to the max number of items to be displayed -->
             <li ng-repeat="itemIndex in getRange(4)" ng-if="translationExists(getItemTranslationKey(idAutomationTemplateSelected, itemIndex))">
              {{ getItemTranslationKey(idAutomationTemplateSelected, itemIndex) | translate }}
            </li>
          </ul>
          <div class="margin-t-25">
            <div class="dp-wrap-isologo--small dp--italic">
              <p>{{ 'automationTemplates.help.title' | translate }}
                <a class="dp--text-underline" href="{{ 'automationTemplates.help.url' | translate }}">{{ 'automationTemplates.help.label' | translate }}</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 dp-automation-template-preview-image">
          <div class="dp-automation-template-preview-image-{{idAutomationTemplateSelected}}-{{lang}}"></div>
        </div>
      </div>
    </div>
  </header>
</section> 

<div class="dp-editor-footer">
  <div class="item">
    <button class="button button--small button-outline--primary" ng-click="automationViewNavegate(AUTOMATION_VIEW.TEMPLATES)">{{ 'actions.cancel' | translate }}</button>
    <button class="button button--small button--primary" ng-click="createAutomationFromTemplate()" >{{ 'automationTemplates.create_template' | translate }}</button>
  </div>
</div>
