<section ng-if="!isLoading" class="section--content section--default background--white padding-t-30">
  <h2>{{'automation_editor.import_file.title' | translate}}</h2>
  <p>
    {{'automation_editor.import_file.description' | translate}}
    <a class="link--default" href="{{'automation_editor.import_file.help_url' | translate}}" target="_blank">{{'help_link_text' | translate}}</a>
  </p>
  <div class="html-preview" ng-if="showHtmlPreview">
    <dp-editor-html-preview content="htmlContent" previewclass="HTMLCode-box" ng-if="showHtmlPreview"></dp-editor-html-preview>
  </div>
  <form class="dropzone components--center" id="dropContainer" dp-dropzone="dropzoneConfig">
    <div class="dz-message">
      <div class="drag-icon-container">
        <svg class="progress-radial" width="120px" height="120px" viewBox="0 0 120 120" shape-rendering="geometricPrecision">
          <defs>
            <mask id="circle_mask" x="0" y="0" width="120" height="120" maskUnits="userSpaceOnUse">
              <circle cx="60" cy="60" r="63" stroke-width="0" fill="black" opacity="1" />
              <circle cx="60" cy="60" r="60" stroke-width="0" fill="white" opacity="1" />
              <circle class="progress-radial-mask-inner" cx="60" cy="60" r="50" stroke-width="0" fill="black" opacity="1" />
            </mask>
          </defs>
          <g mask="url(#circle_mask)">
            <circle class="progress-radial-track" cx="60" cy="60" r="60" stroke-width="0" opacity="1" ng-class="progressTrackClass"/>
            <path class="progress-radial-bar" transform="translate(60, 60)" d="M 0 0" ng-class="progressBarClass" ></path>
          </g>
          <path class="arrow bottom-load-icon" d="M 40 47 L 60 67 L 80 47 L 68 47 L 68 31 L 52 31 L 52 47 L 40 47 Z" fill="#e8e8e8" ng-class="[progressIconClass, progressArrowClass]" />
          <path class="bottom-load-icon" d="M 30 62 L 30 82 L 30 90 L 90 90 L 90 82 L 90 62 L 82 62 L 82 82 L 38 82 L 38 62 L 30 62 Z" fill="#e8e8e8" ng-class="progressIconClass" />
          <rect class="bottom-load-icon" x="40" y="78" width="40" height="2" fill="#e8e8e8" ng-class="progressIconClass" />
          <rect class="bottom-load-icon" x="40" y="74" width="40" height="2" fill="#e8e8e8" ng-class="progressIconClass" />
        </svg>
      </div>
      <div ng-bind-html="dragAndDropMessage"></div>
      <div ng-if="isDynamicAutomation" ng-show="uploadedFileHadErrors">
        <p class="changing-message-help">
          {{ 'automation_editor.import_file.dynamic_tip_link_help' | translate }}
          <a class="link--default" ng-click="goToHelp($event);">
            {{ 'automation_editor.sidebar.campaign_pre_header_help_link_text' | translate }}</a>
        </p>
      </div>
      <input class="button button--primary" type="button" value="{{dragAndDropButtonValue}}" ng-show="showDragAndDropButton"/>
      <input class="dz-remove button cancel-upload" value="{{'automation_editor.import_file.cancel_button' | translate}}" ng-click="cancelUpload($event)" ng-show="!showDragAndDropButton"/>
      <p class="text--small drag-description">
        {{'automation_editor.import_file.drag_description' | translate}}
        <a class="link--default" href="{{'automation_editor.import_file.drag_help_url' | translate}}" target="_blank" ng-click="goToHelp($event)">{{'help_link_text' | translate}}</a>
      </p>
    </div>
  </form>

</section>

<div class="dp-editor-footer">
  <div class="item">
    <button class="button button--small button-outline--primary" ng-click="toggleImportHtmlView(false);">{{ 'automation_editor.buttons.back_to_editor' | translate }}</button>
    <div class="right">
      <span class="tip-help" ng-show="!showHtmlPreview">{{'automation_editor.import_file.tip' | translate}}<span class="icon-arrow-friendly"></span></span>
      <button class="button button--small button--primary" ng-disabled="!isButtonEnabled" ng-click="confirmImportedHtml()">{{ 'automation_editor.buttons.confirm' | translate }}</button>
    </div>
  </div>
</div>

<div ng-show="isLoading" class="loading--container components--center" dp-partial="angularjs/partials/shared/loading.html"></div>
