<form name="magento.form" ng-if="wooCommerce.sourceType === wooCommerce.mvcSourceType" ng-submit="wooCommerce.form.$valid && magento.connect()" novalidate>
    <div>
      <div id="main-panel" class="grayPanel-box grayPanel-controlPanel-box grayPanelPadding-box">
        <span class="control-panel-section-title">{{ 'wooCommerce_integration.disconnected.title' | translate }} </span>
        <span class="control-panel-section-subtitle">
          {{ 'wooCommerce_integration.disconnected.subtitle' | translate }}
          <a href="{{ 'wooCommerce_integration.disconnected.help_link' | translate }}"
             target="_blank">{{ 'wooCommerce_integration.disconnected.help_text' | translate }}</a>
        </span>
        <span class="control-panel-section-subtitle">
          {{ 'wooCommerce_integration.disconnected.info' | translate }}
        </span>
      </div>
    </div>
    <div class="nav-button-bar flex-grid-v-center--s-between" ng-show="!wooCommerce.connected">
      <a class="button button--alternative"
         href="/ControlPanel/ControlPanel?section=Integration"
         id="back-button">{{ 'actions.cancel' | translate }}</a>
      <a class="button button--primary"
         href="https://wordpress.org/plugins/doppler-for-woocommerce"
         target="_blank">{{ 'actions.connect' | translate }}</a>
    </div>
</form>
