<div class="tooltiptext dp-tooltip-container">
  <span
    class="dp-icon-blocked"
    aria-label="blocked list"
    title="{{ 'automation_editor.blocked_list.tooltip_tag' | translate }}"
    >{{ 'automation_editor.blocked_list.tooltip_tag' | translate }}</span
  >
  <div class="dp-tooltip-top blocked-segment-tooltip">
    <span>
      {{ 'automation_editor.blocked_list.tooltip_text' | translate }}
      <a
        class="color--green"
        target="_blank"
        href=" {{'automation_editor.blocked_list.help_link' | translate }}"
      >
        {{ 'automation_editor.blocked_list.link_text' | translate }}
      </a>
    </span>
  </div>
</div>
