<div id="modal" class="modal modal--is-dialog modal-two-options-input--container">
  <div class="modal__wrapper">
    <a class="icon-close modal--do-close"  ng-click="close(false)"></a>
    <div class="modal__content">
      <h1>{{ data.title }}</h1>
      <p>{{ data.description }}</p>
    </div>
    <form name="validationForm" novalidate>
      <div class="form--container">
        <div class="flex radio--container">
          <div class="radio-item">
            <input type="radio" name="option" ng-model="data.option" value="{{ data.option1Value }}" />
            <label class="label">{{ data.option1Label }}</label>
          </div>
          <div class="radio-item">
            <input type="radio" name="option" ng-model="data.option" value="{{ data.option2Value }}" checked="checked" />
            <label class="label">{{ data.option2Label}}</label>
          </div>
        </div>
        <label class="text--small label--one-input" ng-if="data.label">{{ data.label }}</label>
        <input type="text" name="fieldValue" class="input--text" ng-readonly="processingSave" ng-class="{ 'hasErrors': submitted && validationForm.fieldValue.$invalid }" ng-required="data.required" placeholder="{{data.placeholder}}" ng-maxlength="data.maxlength" ng-model="data.fieldValue" ng-pattern="data.regex" />
        <div ng-messages="validationForm.fieldValue.$error" ng-if='submitted' class="error-messages--container">
          <span class="error" ng-message="required">{{ 'validation_messages.required' | translate }}</span>
          <span class="error" ng-message="maxlength">{{ 'validation_messages.maxlength' | translate }}</span>
          <span class="error" ng-message="pattern">{{ data.patternErrorMessage }}</span>
        </div>
      </div>
    </form>
    <div class="modal__action-btn">
       <button class="button {{ data.buttonPrimaryClass }}"
       ng-click="submitted=true;saveAndClose(option, fieldValue);"
       ng-disabled="validationForm.$invalid && submitted || processingSave"
       ng-class="{'button--spinner': processingSave }"
       data-dismiss="modal">
       {{ data.buttonPrimaryLabel }}
       <span ng-show="processingSave" class="icon-editor-saving ng-hide"></span>
       </button>
    </div>
  </div>
</div>
