<div class="dp-library">
  <p class="title title--alt">{{ 'automation_editor.sidebar.Push_notification_campaign_title' | translate }}</p>
  <div class="frequency--selector disable--toggler condensed" ng-class="{'selected': selectedComponent.sendType === SEND_TYPE.INMEDIATE}" ng-click="setSendType(SEND_TYPE.INMEDIATE)">
    <span class="title frequency-text">{{ 'automation_editor.sidebar.Push_notification_campaign_send_now_title' | translate }}</span>
    <span class="icon-check" ng-if="selectedComponent.sendType === SEND_TYPE.INMEDIATE"></span>
  </div>
  <div class="frequency--selector disable--toggler condensed" ng-class="{'selected': selectedComponent.sendType === SEND_TYPE.SCHEDULED}" ng-click="setSendType(SEND_TYPE.SCHEDULED)">
    <span class="title frequency-text">{{ 'automation_editor.sidebar.Push_notification_campaign_send_scheduled_title' | translate }}</span>
    <span class="icon-check" ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED"></span>
  </div>
  <div class="frequency--selector disable--toggler condensed" ng-class="{'selected': selectedComponent.sendType === SEND_TYPE.SCHEDULED_DATE}" ng-click="setSendType(SEND_TYPE.SCHEDULED_DATE)">
    <span class="title frequency-text">{{ 'automation_editor.sidebar.Push_notification_campaign_send_repetitive_title' | translate }}</span>
    <span class="icon-check" ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED_DATE"></span>
  </div>
  <form name="validationForm" novalidate class="awa-form">
    <div ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED">
      <div class="box relative">
        <label class="label--panel">{{ 'automation_editor.sidebar.Push_notification_campaign_field_date' | translate }}</label>
        <div class="input-datepicker--container relative">
          <input type="text" name="date" ng-click="dpPopup.show=true;" class="form-control input--text" ng-class="{hasErrors:validationForm.date.$invalid}" uib-datepicker-popup="{{format}}" is-open="dpPopup.show" datepicker-options="dateOptions" ng-model="frequency.date" ng-model-options="{ updateOn: 'blur' }" current-text="{{ 'automation_editor.sidebar.Push_notification_campaign_date_picker_current_text' | translate }}" ng-required="true" close-text="Close" ng-disabled="isReadOnly();" />
          <span class="icon-calendar disable--toggler" ng-click="dpPopup.show=true;"></span>
          <span class="read-only--tooltip" ng-show="isReadOnly();">{{'validation_messages.read_only_input' | translate  }}</span>
        </div>
      </div>
    </div>

    <div ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED_DATE" style="display: grid;">
      <p class="title--alt description">{{'automation_editor.sidebar.Push_notification_campaign_send_repetitive_description' | translate }}</p>

      <div class="dp-input--radio">
        <label>
          <input type="radio" name="frequencyType" 
            ng-disabled="!canEdit() && false"
            ng-checked="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_WEEK"
            ng-click="setFrequency(FREQUENCY_TYPE.DAY_WEEK)">
          <span class="text--small">{{ 'automation_editor.sidebar.scheduled_date_day_week_title' | translate }}</span>
        </label>
      </div>
  
      <div class="dp-input--radio">
        <label>
          <input type="radio" name="frequencyType" 
            ng-disabled="!canEdit() && false"
            ng-checked="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_MONTH"
            ng-click="setFrequency(FREQUENCY_TYPE.DAY_MONTH)">
          <span class="text--small">{{ 'automation_editor.sidebar.scheduled_date_day_month_title' | translate }}</span>
        </label>
      </div>
  
      <div class="dp-input--radio">
        <label>
          <input type="radio" name="frequencyType"
            ng-disabled="!canEdit() && false"
            ng-checked="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_YEAR"
            ng-click="setFrequency(FREQUENCY_TYPE.DAY_YEAR)">
          <span class="text--small">{{ 'automation_editor.sidebar.scheduled_date_day_year_title' | translate }}</span>
        </label>
      </div>
      
      <!-- day week frequency -->
      <dp-editor-panel-frequency-day-week-selector
        ng-if="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_WEEK"
        selected-days="selectedComponent.frequency.days"
        on-change="onFrequencyAttributeSelected('days', days)"
        is-read-only="isReadOnly()">
      </dp-editor-panel-frequency-day-week-selector>
        
      <!-- day month frequency -->
      <dp-editor-panel-frequency-day-month-selector
        ng-if="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_MONTH"
        selected-day="selectedComponent.frequency.day"
        on-change="onFrequencyAttributeSelected('day', value)"
        is-read-only="isReadOnly()">
      </dp-editor-panel-frequency-day-month-selector>

      <!-- day year frequency -->
      <dp-editor-panel-frequency-day-year-selector
        ng-if="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_YEAR"
        frequency="selectedComponent.frequency"
        moment-id="selectedComponent.frequency.momentId"
        moment-days="selectedComponent.frequency.momentDays"
        custom-fields="selectedComponent.frequency.customFields"
        on-change="onFrequencyAttributeSelected(key, value)"
        is-read-only="isReadOnly()">
      </dp-editor-panel-frequency-day-year-selector>
    </div>
    <!-- common fields -->
    <div ng-if="selectedComponent.frequency">
      <!-- time and timezone selectors -->
      <dp-editor-panel-frequency-time-selector
        time-selected="selectedComponent.frequency.time"
        timezone-selected="selectedComponent.frequency.timezone"
        on-change="onFrequencyAttributeSelected(key, value)"
        has-error="validationForm.date.$invalid"
        is-read-only="isReadOnly()">
      </dp-editor-panel-frequency-time-selector>
    </div>
    <div ng-messages="validationForm['date'].$error" class="error-messages--container">
      <div ng-message="invalidDate" class="error">{{ 'validation_messages.invalid_date_time' | translate }}</div>
    </div>
    <div class="dp-library margin-t-25" ng-if="selectedComponent.hasStartDateExpired">
      <div class="dp-wrap-message dp-wrap-cancel">
        <span class="dp-message-icon"></span>
        <div class="dp-content-message">
          <p>{{ 'automation_editor.components.initial_condition.panel.validation_messages.trial_expired_error' | translate }} <a class="dp-message-link" target="_self" href="https://app.fromdoppler.com/plan-selection/premium/by-contacts?origin=warning_automation">{{ 'automation_editor.components.initial_condition.panel.validation_messages.trial_upgrade' | translate }}</a></p>
        </div>
      </div>
    </div>
  </form>
</div>
<span class="icon-globo"></span>
<p class="help-tip">
  <strong>{{ 'automation_editor.sidebar.Push_notification_campaign_tip' | translate }}</strong>
  <span>{{ 'automation_editor.sidebar.Push_notification_campaign_tip_part2' | translate }}</span>
  <a ng-href="{{ 'automation_editor.sidebar.Push_notification_campaign_tip_link_url' | translate }}" class="link--default" target="_blank">{{ 'automation_editor.sidebar.Push_notification_campaign_tip_link_text' | translate }}</a>.
</p>
