<dp-editor-panel-domain-list-selector></dp-editor-panel-domain-list-selector>
  <p class="title title--alt">{{ 'automation_editor.sidebar.Push_notification_campaign_title' | translate }}</p>
  <div class="frequency--selector disable--toggler condensed" ng-class="{'selected': selectedComponent.sendType === SEND_TYPE.INMEDIATE}" ng-click="setSendType(SEND_TYPE.INMEDIATE)">
    <span class="title frequency-text">{{ 'automation_editor.sidebar.Push_notification_campaign_send_now_title' | translate }}</span>
    <span class="icon-check" ng-if="selectedComponent.sendType === SEND_TYPE.INMEDIATE"></span>
  </div>
  <div class="frequency--selector disable--toggler condensed" ng-class="{'selected': selectedComponent.sendType === SEND_TYPE.SCHEDULED}" ng-click="setSendType(SEND_TYPE.SCHEDULED)">
    <span class="title frequency-text">{{ 'automation_editor.sidebar.Push_notification_campaign_send_scheduled_title' | translate }}</span>
    <span class="icon-check" ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED"></span>
  </div>
  <div class="frequency--selector disable--toggler condensed" ng-class="{'selected': selectedComponent.sendType === SEND_TYPE.SCHEDULED_DATE}" ng-click="setSendType(SEND_TYPE.SCHEDULED_DATE)">
    <span class="title frequency-text">{{ 'automation_editor.sidebar.Push_notification_campaign_send_repetitive_title' | translate }}</span>
    <span class="icon-check" ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED_DATE"></span>
  </div>
  <form name="validationForm" novalidate class="awa-form">
    <div ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED">
      <div class="box relative">
        <label class="label--panel">{{ 'automation_editor.sidebar.Push_notification_campaign_field_date' | translate }}</label>
        <div class="input-datepicker--container relative">
          <input type="text" name="date" ng-click="dpPopup.show=true;" class="form-control input--text" ng-class="{hasErrors:validationForm.date.$invalid}" uib-datepicker-popup="{{format}}" is-open="dpPopup.show" datepicker-options="dateOptions" ng-model="frequency.date" ng-model-options="{ updateOn: 'blur' }" current-text="{{ 'automation_editor.sidebar.Push_notification_campaign_date_picker_current_text' | translate }}" ng-required="true" close-text="Close" ng-disabled="isReadOnly();" />
          <span class="icon-calendar disable--toggler" ng-click="dpPopup.show=true;"></span>
          <span class="read-only--tooltip" ng-show="isReadOnly();">{{'validation_messages.read_only_input' | translate  }}</span>
        </div>
      </div>
    </div>

    <div ng-if="selectedComponent.sendType === SEND_TYPE.SCHEDULED_DATE" style="display: grid;">
      <p class="title--alt description">{{'automation_editor.sidebar.Push_notification_campaign_send_repetitive_description' | translate }}</p>

      <div class="dp-input--radio">
        <label>
          <input type="radio" name="frequencyType" 
            ng-disabled="!canEdit() && false"
            ng-checked="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_WEEK"
            ng-click="setFrequency(FREQUENCY_TYPE.DAY_WEEK)">
          <span class="text--small">{{ 'automation_editor.sidebar.scheduled_date_day_week_title' | translate }}</span>
        </label>
      </div>
  
      <div class="dp-input--radio">
        <label>
          <input type="radio" name="frequencyType" 
            ng-disabled="!canEdit() && false"
            ng-checked="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_MONTH"
            ng-click="setFrequency(FREQUENCY_TYPE.DAY_MONTH)">
          <span class="text--small">{{ 'automation_editor.sidebar.scheduled_date_day_month_title' | translate }}</span>
        </label>
      </div>
  
      <div class="dp-input--radio">
        <label>
          <input type="radio" name="frequencyType"
            ng-disabled="!canEdit() && false"
            ng-checked="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_YEAR"
            ng-click="setFrequency(FREQUENCY_TYPE.DAY_YEAR)">
          <span class="text--small">{{ 'automation_editor.sidebar.scheduled_date_day_year_title' | translate }}</span>
        </label>
      </div>
      
      <!-- day week frequency -->
      <dp-editor-panel-frequency-day-week-selector
        ng-if="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_WEEK"
        selected-days="selectedComponent.frequency.days"
        on-change="onFrequencyAttributeSelected('days', days)"
        is-read-only="isReadOnly()">
      </dp-editor-panel-frequency-day-week-selector>
        
      <!-- day month frequency -->
      <div ng-if="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_MONTH">
        <div class="frequency--panel" >
          <p class="text">{{ 'automation_editor.sidebar.scheduled_date_select_month_day_title' | translate }}</p>
          <dp-editor-dropdown class="dropdown dropdown--full" id="dayMonth" name="dayMonth" property="name" options="dayNumberOptions" label="dayMonthSelected.label" on-select-option="onFrequencyAttributeSelected('day', option.value)" value-selected="dayMonthSelected.value" ng-disabled="isReadOnly();"></dp-editor-dropdown>
          <span class="tip">{{ 'automation_editor.sidebar.scheduled_date_select_month_day_tip' | translate }}</span>
          <span class="read-only--tooltip positive--alignment" ng-show="isReadOnly();">{{'validation_messages.read_only_input' | translate  }}</span>
        </div>
      </div>
      <!-- day year frequency -->
      <div ng-show="selectedComponent.frequency.type === FREQUENCY_TYPE.DAY_YEAR">
        <!-- custom fields -->
        <div class="frequency--panel">
          <p class="text">{{'automation_editor.sidebar.scheduled_date_select_custom_field' | translate}}</p>
          <div class="frequency--custom-field" ng-repeat="field in selectedComponent.frequency.customFields track by $index">
            <div class="item">
              <dp-editor-dropdown class="dropdown dropdown--full" id="customField{{$index}}" name="customField{{$index}}" property="customField{{$index}}"
                ng-class="{'hasErrors': validationForm.customField{{$index}}.$invalid}"
                ng-model="field"
                options="availableDateFields"
                label="field.label"
                on-select-option="onCustomFieldSelected(option, field, $index)"
                value-selected="field"
                ng-disabled="isReadOnly();">
              </dp-editor-dropdown>
              <span class="icon-delete" ng-class="{'disabled' : selectedComponent.frequency.customFields.length === 1 || isReadOnly()}" ng-click="onCustomFieldRemoved(field)"></span>
              <span class="read-only--tooltip" ng-show="isReadOnly();">{{'validation_messages.read_only_input' | translate  }}</span>
            </div>
            <div ng-messages="customFieldForm['customField'+$index].$error" class="error-messages--container" >
                <div ng-message="deletedField" class="error">{{ 'validation_messages.inexistent_field' | translate }}</div>
            </div>
          </div>
          <p class="link--default text--small add-custom-field disable--toggler" ng-show="availableDateFields.length" ng-click="addNewCustomField()">
            <span class="icon-add-element"></span>
            {{'automation_editor.sidebar.scheduled_date_add_custom_field' | translate}}
          </p>
        </div>
 
        <!-- day moment -->
        <div class="frequency--panel">
          <p class="text">{{'automation_editor.sidebar.scheduled_date_select_day_moment' | translate}}</p>
          <div class="flex-grid-v-center--s-between">
            <div class="frequency--moment-day" ng-class="{'hasErrors': momentDaysForm.days.$invalid}" ng-show="dayMomentSelected.value === 1 || dayMomentSelected.value === 2">
              <input class="number input--text" ng-model="selectedComponent.frequency.momentDays" name="days" type="text" pattern="^[1-9][0-9]?$" maxlength="2" min="1" placeholder="00" ng-model-options="{updateOn: 'blur'}" ng-disabled="isReadOnly();" required>
              <span>{{!selectedComponent.frequency.momentDays || selectedComponent.frequency.momentDays.toString() === '1' ? 'automation_editor.sidebar.time_unit.day' : 'automation_editor.sidebar.time_unit.days' | translate}}</span>
            </div>
            <dp-editor-dropdown class="dropdown dropdown--full" ng-class="{'dropdown--large': dayMomentSelected.value === 1 || dayMomentSelected.value === 2}" id="moment" name="moment" property="name" options="dayMoments" label="dayMomentSelected.label" on-select-option="onFrequencyAttributeSelected('momentId', option.value)" value-selected="dayMomentSelected.value" ng-disabled="isReadOnly();"></dp-editor-dropdown>
            <span class="read-only--tooltip positive--alignment" ng-show="isReadOnly();">{{'validation_messages.read_only_input' | translate  }}</span>
          </div>
          <!-- error messages -->
          <div class="error-messages--container" ng-messages="momentDaysForm.days.$error">
            <div ng-message="pattern" class="error">{{'automation_editor.sidebar.scheduled_date_day_number_error' | translate}}</div>
          </div>
          <span class="tip">{{ 'automation_editor.sidebar.scheduled_date_select_day_moment_tip' | translate }}</span>
        </div>
      </div>
    </div>
    <!-- common fields -->
    <div ng-if="selectedComponent.frequency">
      <!-- time and timezone selectors -->
      <div class="box relative frequency-time--panel">
        <label class="label--panel">{{ 'automation_editor.sidebar.Push_notification_campaign_field_hour' | translate }}</label>
        <div class="flex-grid-v-center--s-between">
          <dp-editor-dropdown ng-class="{hasErrors: validationForm.date.$invalid}" class="dropdown dropdown--small disable--toggler" id="time" name="time" property="name" options="timeOptions" label="timeSelected.label" value-selected="timeSelected.value" on-select-option="onFrequencyAttributeSelected('time', option.value);" on-select-prev-option="onPrevTimeSelected()" on-select-next-option="onNextTimeSelected()" arrow-selection="true" ng-disabled="isReadOnly();"></dp-editor-dropdown>
          <dp-editor-dropdown ng-class="{hasErrors: validationForm.date.$invalid}" class="dropdown dropdown--large" id="timezone" name="timezone" property="name" options="timeZones" label="timezoneSelected.label" value-selected="timezoneSelected.value" on-select-option="onFrequencyAttributeSelected('timezone', option.value);" ng-disabled="isReadOnly();"></dp-editor-dropdown>
        </div>
        <div ng-messages="validationForm['date'].$error" class="error-messages--container">
          <div ng-message="invalidDate" class="error">{{ 'validation_messages.invalid_date_time' | translate }}</div>
        </div>
        <div class="dp-library margin-t-25" ng-if="selectedComponent.hasStartDateExpired">
          <div class="dp-wrap-message dp-wrap-cancel">
            <span class="dp-message-icon"></span>
            <div class="dp-content-message">
              <p>{{ 'automation_editor.components.initial_condition.panel.validation_messages.trial_expired_error' | translate }} <a class="dp-message-link" target="_self" href="https://app.fromdoppler.com/plan-selection/premium/by-contacts?origin=warning_automation">{{ 'automation_editor.components.initial_condition.panel.validation_messages.trial_upgrade' | translate }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<span class="icon-globo"></span>
<p class="help-tip">
  <strong>{{ 'automation_editor.sidebar.Push_notification_campaign_tip' | translate }}</strong>
  <span>{{ 'automation_editor.sidebar.Push_notification_campaign_tip_part2' | translate }}</span>
  <a ng-href="{{ 'automation_editor.sidebar.Push_notification_campaign_tip_link_url' | translate }}" class="link--default" target="_blank">{{ 'automation_editor.sidebar.Push_notification_campaign_tip_link_text' | translate }}</a>.
</p>
